Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore(#188): remove debug prints
  src/modules/ContentScript/PageTranslationContext.ts
  src/modules/SelectTranslator/SelectTranslatorManager.ts
Due: prettier --write, eslint --fix

refactor(#180): remove unused files
  src/lib/ObservableRecord.ts
  src/lib/StateManager.ts
Due: prettier --write, eslint --fix

refactor(#180): remove EventManager
  src/lib/EventManager.ts
  src/lib/browser/Theme/BrowserThemeInfo.ts
  src/lib/browser/Theme/FirefoxThemeInfo.ts
  src/lib/browser/Theme/ThemeInfo.ts
Due: prettier --write, eslint --fix

refactor(#200): group files by features
  src/app/Background/TranslatorManager/TranslatorManager.test.ts
  src/app/Background/TranslatorManager/index.ts
  src/app/Background/TranslatorsCacheStorage/TranslatorsCacheStorage.migrations.ts
  src/app/Background/TranslatorsCacheStorage/TranslatorsCacheStorage.test.ts
  src/app/Background/TranslatorsCacheStorage/index.ts
  src/app/Background/index.ts
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/ConfigStorage/ConfigStorage.ts
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/config-v1.json
  src/app/ConfigStorage/__test__/config-v3.json
  src/app/ContentScript/ClientConfig.ts
  src/app/ContentScript/PageTranslationContext.ts
  src/app/ContentScript/PageTranslator/NodesTranslator.tsx
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
  src/app/ContentScript/PageTranslator/PageTranslatorController.ts
  src/app/ContentScript/PageTranslator/PageTranslatorManager.ts
  src/app/ContentScript/PageTranslator/requests/index.ts
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
  src/app/ContentScript/SelectTranslator/SelectTranslatorController.ts
  src/app/ContentScript/SelectTranslator/SelectTranslatorManager.ts
  src/app/ContentScript/index.ts
  src/app/index.ts
  src/app/messages.ts
  src/background.ts
  src/contentscript.tsx
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/migrations/migrationsList.ts
  src/modules/App/messages.ts
  src/pages/options/layout/OptionsPage.tsx
  src/requests/backend/clearCache.ts
  src/requests/backend/translators/applyTranslators.ts
  src/requests/backend/translators/deleteTranslator.ts
  src/requests/types.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#204): add linter rule to simplify imports
  .eslintrc
  package.json
  src/app/Background/TranslatorManager/TranslatorManager.test.ts
  src/app/Background/TranslatorManager/index.ts
  src/app/Background/TranslatorsCacheStorage/TranslatorsCacheStorage.test.ts
  src/layouts/PageTranslator/PageTranslator.utils/utils.ts
  src/lib/XMutationObserver.ts
  src/pages/options/layout/OptionSection/OptionSection.tsx
  src/pages/options/layout/OptionsTree/OptionsTree.tsx
  src/pages/options/layout/PageSection/PageSection.tsx
  src/themes/presets/default/color.css
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#200): move background handlers
  src/app/Background/requestHandlers.ts
  src/app/index.ts
  src/app/messages.ts
Due: prettier --write, eslint --fix

refactor(#200): move contentscript handlers
  src/app/ContentScript/index.ts
  src/app/ContentScript/requestHandlers.ts
Due: prettier --write, eslint --fix

refactor(#195): rename properties
  src/app/index.ts
  src/requests/backend/clearCache.ts
  src/requests/backend/getTranslatorFeatures.ts
  src/requests/backend/getTranslatorModules.ts
  src/requests/backend/translate.ts
  src/requests/backend/translators/applyTranslators.ts
  src/requests/backend/updateConfig.ts
  src/requests/types.ts
Due: prettier --write, eslint --fix

refactor(#195): move translators collecting to a request handler
  src/app/Background/requestHandlers.ts
  src/pages/options/layout/OptionsPage.tsx
  src/requests/backend/getTranslatorModules.ts
  src/requests/backend/translators/getAvailableTranslators.ts
Due: prettier --write, eslint --fix

refactor(#206): set default translator while remove custom translator
  src/requests/backend/translators/applyTranslators.ts
Due: prettier --write, eslint --fix

refactor(#206): consistent use default translator
  src/app/Background/index.ts
  src/config.ts
  src/requests/backend/translators/applyTranslators.ts
Due: prettier --write, eslint --fix

refactor(#206): simplify code
  src/app/Background/index.ts
  src/requests/backend/translators/applyTranslators.ts
  src/requests/backend/translators/index.ts
Due: prettier --write, eslint --fix

refactor(#206): rename embedded translators
  src/app/Background/index.ts
  src/app/index.ts
  src/requests/backend/translators/index.ts
Due: prettier --write, eslint --fix

refactor(#206): import translators instead forwarding
  src/app/index.ts
  src/requests/backend/translators/getAvailableTranslators.ts
  src/requests/types.ts
Due: prettier --write, eslint --fix

refactor(#208): use abstract structure for custom translators
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
  src/requests/backend/translators/getTranslators.ts
  src/requests/backend/translators/index.ts
Due: prettier --write, eslint --fix

refactor(#208): introduce utils for custom translators
  src/app/Background/index.ts
  src/pages/options/layout/OptionsPage.components/TranslatorEditor/TranslatorEditor.tsx
  src/requests/backend/translators/applyTranslators.ts
  src/requests/backend/translators/deleteTranslator.ts
  src/requests/backend/translators/getAvailableTranslators.ts
  src/requests/backend/translators/index.ts
Due: prettier --write, eslint --fix

fix(#208): prevent reset a selected custom translators
  src/requests/backend/translators/applyTranslators.ts
Due: prettier --write, eslint --fix

fix(#196): provide buttons array to a modal window
  src/components/ModalLayout/ModalLayout.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorEditor/TranslatorEditor.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
Due: prettier --write, eslint --fix

fix(#196): add key props
  src/pages/options/layout/OptionsPage.components/TranslatorEditor/TranslatorEditor.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
Due: prettier --write, eslint --fix

refactor(#148): rename select translator component
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator.tsx
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.css
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.tokens.yml
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.tsx
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.utils/fixPosToPreventOverflow.ts
  src/themes/presets/default/color.css
Due: prettier --write, eslint --fix

refactor(#148): move toast messages to a component
  src/components/primitives/ToastMessages/ToastMessages.css
  src/components/primitives/ToastMessages/ToastMessages.tokens.yml
  src/components/primitives/ToastMessages/ToastMessages.tsx
  src/components/primitives/ToastMessages/useToastMessages.ts
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/options/layout/OptionsPage.tsx
  src/themes/default.theme.json
  src/themes/presets/default/color.css
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#148): rename TranslationCard
  src/components/layouts/TranslationCard/TranslationCard.css
  src/components/layouts/TranslationCard/TranslationCard.tsx
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/history/layout/TranslationsHistory/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

chore(#212): remove unused augments dir
  src/augments/AbstractAugment.ts
  src/augments/EmbeddedControlPanel/EmbeddedControlPanel.css
  src/augments/EmbeddedControlPanel/EmbeddedControlPanel.tsx
  src/augments/EmbeddedControlPanel/index.tsx
Due: prettier --write, eslint --fix

refactor(#212): move migrations to app dir
  src/app/index.ts
  src/app/migrations/App/AppMigrationsStorage.migrations.ts
  src/app/migrations/App/AppMigrationsStorage.ts
  src/app/migrations/App/PersistentMigrationsExecutor.test.ts
  src/app/migrations/migrationsList.ts
Due: prettier --write, eslint --fix

refactor(#149): rename dictionary button
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator.tsx
  src/components/controls/DictionaryButton/DictionaryButton.tsx
  src/components/controls/DictionaryButton/useDictionary.ts
  src/pages/history/layout/TranslationsHistory/TranslationsHistory.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

refactor(#149): fix i18n texts
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/components/controls/DictionaryButton/DictionaryButton.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

fix(#146): disable option reverse
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix

Update CustomTranslator.md
  docs/CustomTranslator.md
Due: prettier --write --parser markdown

feat(#83): add translate page context menu
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
  src/app/ContentScript/PageTranslator/PageTranslatorController.ts
  src/app/ContentScript/PageTranslator/requests/index.ts
  src/app/ContentScript/PageTranslator/requests/pageTranslatorStateUpdated.ts
  src/app/ContentScript/PageTranslator/requests/pageTranslatorStatsUpdated.ts
  src/app/index.ts
  src/lib/browser/toggleTranslateItemInContextMenu.ts
  src/pages/popup/tabs/PageTranslator/PageTranslator.tsx
  src/pages/popup/tabs/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix

refactor(#83): move context menu to a file
  src/app/ContextMenus/TranslatePageContextMenu.ts
  src/app/index.ts
Due: prettier --write, eslint --fix

refactor(#83): implement disable method
  src/app/ContextMenus/TranslatePageContextMenu.ts
Due: prettier --write, eslint --fix

feat(#83): add option for context menu
  src/app/ConfigStorage/__test__/config-v3.json
  src/app/index.ts
  src/config.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(#83): use localized texts
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/app/ContextMenus/TranslatePageContextMenu.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

test(#83): use config v4
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/config-v4.json
  src/app/ContextMenus/TranslatePageContextMenu.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#83): add config migration
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
Due: prettier --write, eslint --fix

fix(#83): hide context menu for not web pages
  src/app/ContextMenus/TranslatePageContextMenu.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
