Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

feat: added hscii transliteration for indik langs using hsciistr npmjs lib
  manifests/manifest.json
  scripts/locales/utils/translateDescriptions.js
  site/supportedLanguages.ts
  src/_locales/en/messages.json
  src/app/Background/TranslatorManager/index.ts
  src/app/Background/TranslatorsCacheStorage/index.ts
  src/app/Background/index.ts
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator/TextTranslator.tsx
  src/app/ContentScript/index.ts
  src/app/index.ts
  src/components/controls/DictionaryButton/DictionaryButton.tsx
  src/components/controls/DictionaryButton/useDictionary.ts
  src/components/controls/LanguagePanel/LanguagePanel.tsx
  src/components/layouts/LayoutFlow/LayoutFlow.tsx
  src/config.ts
  src/pages/options/layout/OptionSection/OptionSection.tsx
  src/pages/options/layout/OptionsPage.components/Editor/MonakoEditor/MonacoEditor.tsx
  src/pages/popup/popup.tsx
  src/requests/backend/getUserLanguagePreferences.ts
  src/requests/backend/translate.ts
  src/requests/backend/translators/data.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: added hscii transliteration for indik langs using hsciistr npmjs lib
  package-lock.json
  package.json
  src/lib/language.tsx
  src/lib/translators/bergamot/BergamotTranslator.ts
  src/lib/translators/bergamot/OffscreenWorker.ts
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
  src/lib/translators/customTranslators/CustomTranslatorController.ts
  src/lib/translators/customTranslators/loadTranslator.ts
  src/lib/translators/customTranslators/utils.ts
  src/lib/utils/createPromiseWithControls.ts
  src/lib/utils/index.ts
  src/pages/popup/tabs/PageTranslator/PageTranslator.tsx
  src/requests/backend/getTranslatorFeatures.ts
  src/requests/backend/suggestLanguage.ts
  src/requests/backend/translate.ts
  src/requests/backend/translations/addTranslation.ts
  src/requests/backend/translations/data.ts
  src/requests/backend/translations/deleteTranslation.ts
  src/requests/backend/translations/findTranslation.ts
  src/requests/backend/translations/index.ts
  src/requests/backend/translations/translations.test.ts
  src/requests/backend/translators/addTranslator.ts
  src/requests/backend/translators/applyTranslators.ts
  src/requests/backend/translators/data.ts
  src/requests/backend/translators/deleteTranslator.ts
  src/requests/backend/translators/getAvailableTranslators.ts
  src/requests/backend/translators/index.ts
  src/requests/backend/translators/updateTranslator.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: using htrlib lib for transliteration of indik langs
  bun.lockb
  docs/CustomTranslator.md
  package-lock.json
  package.json
  site/translateLocales.ts
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

feat: added libhsciifp,matched react dom wersion
  bun.lockb
  package.json
Due: prettier --write --parser json

feat: using lower next/react 10/16
  bun.lockb
  package-lock.json
  package.json
  site/translateLocales.ts
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update plausible endpoint
  site/src/theme/Root.tsx
Due: prettier --write, eslint --fix

vitonsky published a site update
  404.html
  assets/js/main.809003df.js
  assets/js/main.bb52e96b.js
  assets/js/main.bb52e96b.js.LICENSE.txt
  blog/archive/index.html
  blog/index.html
  blog/release/6.0.0/index.html
  blog/tags/index.html
  blog/tags/release/index.html
  docs/AndroidDebug/index.html
  docs/CustomModules/index.html
  docs/CustomTTS/index.html
  docs/CustomTranslator/index.html
  docs/Development/index.html
  docs/index.html
  docs/manuals/OfflineTranslation/index.html
  docs/modules/tts/index.html
  index.html
Due: prettier --write, eslint --fix

feat: updated libhsciifp@0.4.30 but not Added font picker
  package-lock.json
  package.json
  readme.md
Due: prettier --write --parser markdown, prettier --write --parser json

feat: updated htrlib version
  package-lock.json
  package.json
  site/translateLocales.ts
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: added and tested transliteration of indic languages
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

feat: corrected telugu langcode(te). added fontpicker
  site/translateLocales.ts
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

feat: added hsciifont picker
  src/pages/popup/layout/PopupWindow.css
  src/pages/popup/layout/PopupWindow.tsx
  src/pages/popup/popup.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
  src/themes/presets/default/root.css
Due: prettier --write, eslint --fix

feat: changed background script message
  src/_locales/en/messages.json
Due: prettier --write --parser json

feat: linguist8 with hsciifontpicker
  src/components/layouts/Page/Page.css
  src/themes/presets/default/root.css
  src/themes/tokens/app.typography.tokens.yml
  src/themes/tokens/controls.typography.tokens.yml
Due: none

chore: update footer links
  site/docusaurus.config.ts
  site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

vitonsky published a site update
  404.html
  assets/js/1df93b7f.35de2fc5.js
  assets/js/1df93b7f.4617be59.js
  assets/js/main.a1bd3468.js
  assets/js/main.a1bd3468.js.LICENSE.txt
  assets/js/main.bb52e96b.js
  assets/js/runtime~main.4ec6d095.js
  assets/js/runtime~main.6aba12d5.js
  blog/archive/index.html
  blog/index.html
  blog/release/6.0.0/index.html
  blog/tags/index.html
  blog/tags/release/index.html
  docs/AndroidDebug/index.html
  docs/CustomModules/index.html
  docs/CustomTTS/index.html
  docs/CustomTranslator/index.html
  docs/Development/index.html
  docs/index.html
  docs/manuals/OfflineTranslation/index.html
  docs/modules/tts/index.html
  index.html
Due: prettier --write, eslint --fix

fix: wait for data change
  src/pages/popup/tabs/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

refactor: use early return
  src/pages/popup/tabs/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

fix: check for null
  src/pages/popup/tabs/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

chore: use early return
  src/pages/popup/tabs/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

Fix flaky test for text translator storage (#547)
  src/pages/popup/tabs/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

chore: stretch lama width
  src/res/logo.svg
Due: none

chore: make tower are colorful
  src/res/logo.svg
Due: none

feat: use lama logo
  src/res/logo.svg
Due: none

chore: make tower colors brightness
  src/res/logo.svg
Due: none

chore: use babylon logo
  src/res/logo.svg
Due: none

chore: delete appIcon setting
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/config-v8.json
  src/config.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: use large babylon logo
  src/res/logo.svg
Due: none

refactor: remove dynamic icon manager
  src/app/index.ts
  src/lib/browser/AppThemeControl.ts
  src/lib/browser/setAppIcon.ts
Due: prettier --write, eslint --fix

feat: update logo
  manifests/chrome.json
  manifests/chromium.json
  manifests/firefox-standalone.json
  manifests/firefox.json
  manifests/manifest.json
  src/lib/browser/setAppIcon.ts
  src/pages/dictionary/dictionary.html
  src/pages/history/history.html
  src/pages/options/options.html
  src/pages/popup/popup.html
  src/res/logo-icon-simple-dark.svg
  src/res/logo-icon-simple-light.svg
  src/res/logo.svg
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: use pastel colors
  src/res/logo.svg
Due: none

chore: remove themed icons
  manifests/firefox-standalone.json
  manifests/firefox.json
Due: prettier --write --parser json

Update a project identity (#545)
  manifests/chrome.json
  manifests/chromium.json
  manifests/firefox-standalone.json
  manifests/firefox.json
  manifests/manifest.json
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/config-v8.json
  src/app/index.ts
  src/config.ts
  src/lib/browser/AppThemeControl.ts
  src/lib/browser/setAppIcon.ts
  src/pages/dictionary/dictionary.html
  src/pages/history/history.html
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/pages/options/options.html
  src/pages/popup/popup.html
  src/res/logo-icon-simple-dark.svg
  src/res/logo-icon-simple-light.svg
  src/res/logo.svg
  src/types/runtime.ts
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: update domtranslator package
  package-lock.json
  package.json
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: update ignored selectors
  src/config.ts
  src/custom.d.ts
  src/no-translate-selectors.txt
  webpack.config.js
Due: prettier --write, eslint --fix
