Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

fix: layout
  packages/site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

fix: proper alt urls generation
  packages/site/src/plugins/i18n-pages.ts
Due: prettier --write, eslint --fix

feat: update analytics
  package-lock.json
  packages/site/package.json
  packages/site/src/components/Analytics/AnalyticsProvider.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: track FAQ clicks
  packages/site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

feat: track reading engagement
  packages/site/src/components/Landing/Landing.tsx
  packages/site/src/components/Landing/useElementAttentionTracker.tsx
Due: prettier --write, eslint --fix

feat: add engagement time for all events
  packages/site/src/components/Analytics/AnalyticsProvider.tsx
Due: prettier --write, eslint --fix

feat: add alt texts
  packages/site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: use ga4 package
  package-lock.json
  packages/site/package.json
  packages/site/src/components/Analytics/AnalyticsProvider.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: hydration error
  packages/site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: tune texts
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: add content scheme
  packages/site/src/features/Landing/index.tsx
Due: prettier --write, eslint --fix

refactor: move images into landing dir
  packages/site/src/components/useElementAttentionTracker.tsx
  packages/site/src/features/Landing/Landing.module.css
  packages/site/src/features/Landing/Landing.tsx
  packages/site/src/features/Landing/icons/chrome.png
  packages/site/src/features/Landing/icons/firefox.png
  packages/site/src/features/Landing/index.tsx
  packages/site/src/features/Landing/logo.svg
  packages/site/src/features/Landing/screenshots/custom-translators.png
  packages/site/src/features/Landing/screenshots/dictionary.png
  packages/site/src/features/Landing/screenshots/page-translation.png
  packages/site/src/features/Landing/screenshots/selected-text-translation.png
  packages/site/src/features/Landing/screenshots/settings.png
  packages/site/src/features/Landing/screenshots/text-translation-popup.png
  packages/site/src/features/Landing/screenshots/text-translation.png
  packages/site/src/utils/url.ts
Due: prettier --write, eslint --fix

feat: add localizations
  packages/site/src/i18n/locales/ar/landing.json
  packages/site/src/i18n/locales/bg/landing.json
  packages/site/src/i18n/locales/bn/landing.json
  packages/site/src/i18n/locales/ca/landing.json
  packages/site/src/i18n/locales/cs/landing.json
  packages/site/src/i18n/locales/da/landing.json
  packages/site/src/i18n/locales/de/landing.json
  packages/site/src/i18n/locales/el/landing.json
  packages/site/src/i18n/locales/es/landing.json
  packages/site/src/i18n/locales/fa/landing.json
  packages/site/src/i18n/locales/fi/landing.json
  packages/site/src/i18n/locales/fr/landing.json
  packages/site/src/i18n/locales/gu/landing.json
  packages/site/src/i18n/locales/he/landing.json
  packages/site/src/i18n/locales/hi/landing.json
  packages/site/src/i18n/locales/hu/landing.json
  packages/site/src/i18n/locales/id/landing.json
  packages/site/src/i18n/locales/it/landing.json
  packages/site/src/i18n/locales/ja/landing.json
  packages/site/src/i18n/locales/jv/landing.json
  packages/site/src/i18n/locales/ka/landing.json
  packages/site/src/i18n/locales/ko/landing.json
  packages/site/src/i18n/locales/mr/landing.json
  packages/site/src/i18n/locales/nl/landing.json
  packages/site/src/i18n/locales/pa/landing.json
  packages/site/src/i18n/locales/pl/landing.json
  packages/site/src/i18n/locales/pt-BR/landing.json
  packages/site/src/i18n/locales/pt-PT/landing.json
  packages/site/src/i18n/locales/pt/landing.json
  packages/site/src/i18n/locales/ro/landing.json
  packages/site/src/i18n/locales/ru/landing.json
  packages/site/src/i18n/locales/sl/landing.json
  packages/site/src/i18n/locales/sr/landing.json
  packages/site/src/i18n/locales/sv/landing.json
  packages/site/src/i18n/locales/ta/landing.json
  packages/site/transmart.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: improve mobile layout
  packages/site/src/features/Landing/Landing.tsx
Due: prettier --write, eslint --fix

feat: add more languages
  packages/site/src/i18n/locales/nb/landing.json
  packages/site/src/i18n/locales/pt/landing.json
  packages/site/src/i18n/locales/te/landing.json
  packages/site/src/i18n/locales/th/landing.json
  packages/site/src/i18n/locales/tr/landing.json
  packages/site/src/i18n/locales/uk/landing.json
  packages/site/src/i18n/locales/ur/landing.json
  packages/site/src/i18n/locales/vi/landing.json
  packages/site/src/i18n/locales/zh-CN/landing.json
  packages/site/src/i18n/locales/zh-TW/landing.json
  packages/site/src/i18n/locales/zh/landing.json
  packages/site/transmart.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: use large image card
  packages/site/docusaurus.config.ts
  packages/site/src/features/Landing/index.tsx
  packages/site/static/img/app.png
Due: prettier --write, eslint --fix

fix: update translators package
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: YandexTranslator does not work (#600)
  package-lock.json
  package.json
Due: prettier --write --parser json

7.0.5
  package-lock.json
  package.json
Due: prettier --write --parser json

7.0.5 (#601)
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: add 1-click copy to text translation
  .DS_Store
  .github/.DS_Store
  docs/.DS_Store
  packages/.DS_Store
  src/.DS_Store
  src/components/.DS_Store
  src/components/primitives/.DS_Store
  src/components/primitives/Button/.DS_Store
  src/components/primitives/Icon/.DS_Store
  src/components/primitives/Icon/Icon.assets/.DS_Store
  src/components/primitives/Icon/Icon.assets/Material/.DS_Store
  src/components/primitives/Icon/Icon.assets/Material/content_copy.svg
  src/components/primitives/Icon/Icon.bundle/desktop.ts
  src/components/primitives/Icon/_glyph/Icon_glyph_content-copy.tsx
  src/components/primitives/Modal/.DS_Store
  src/components/primitives/Notification/.DS_Store
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
  thirdparty/.DS_Store
  thirdparty/bergamot/.DS_Store
  thirdparty/bergamot/src/.DS_Store
Due: prettier --write, eslint --fix

feat: add ActionBadgeController for per-tab translation state badge
  src/app/ActionBadge/ActionBadgeController.ts
  src/app/index.ts
Due: prettier --write, eslint --fix

refactor: strip non-essential comments from ActionBadgeController
  src/app/ActionBadge/ActionBadgeController.ts
Due: prettier --write, eslint --fix

feat(ActionBadge): make badge opt-in via settings; fix dead timers and tab-close race
  src/_locales/en/messages.json
  src/app/ActionBadge/ActionBadgeController.test.ts
  src/app/ActionBadge/ActionBadgeController.ts
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/index.ts
  src/config/index.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

test(ActionBadge): inline setup per test; use actual types; bump migration latestVersion to 10
  src/app/ActionBadge/ActionBadgeController.test.ts
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/__snapshots__/ConfigStorage.test.ts.snap
Due: prettier --write, eslint --fix

refactor(ActionBadge): address review comments
  package-lock.json
  package.json
  src/app/ActionBadge/ActionBadgeController.test.ts
  src/app/ActionBadge/ActionBadgeController.ts
  src/app/ConfigStorage/__test__/__snapshots__/ConfigStorage.test.ts.snap
  test/setupFiles/webextension.js
  vitest.config.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(ActionBadge): inject subscription handlers as constructor deps; rewrite tests
  src/app/ActionBadge/ActionBadgeController.test.ts
  src/app/ActionBadge/ActionBadgeController.ts
Due: prettier --write, eslint --fix

docs: update offline translation instruction
  docs/manuals/OfflineTranslation.md
Due: prettier --write --parser markdown

refactor: organize the docs
  docs/CustomModules.md
  docs/CustomTTS.md
  docs/CustomTranslator.md
  docs/Introduction.md
  docs/api/translator.md
  docs/api/tts.md
  docs/dev/AndroidDebug.md
  docs/dev/Development.md
  docs/guides/OfflineTranslation.md
  packages/site/docusaurus.config.ts
  packages/site/sidebars.ts
  packages/site/src/features/Landing/Landing.tsx
Due: prettier --write, eslint --fix, prettier --write --parser markdown

docs: update custom module details
  docs/api/custom-module.md
Due: prettier --write --parser markdown

chore: update logo size
  packages/site/src/features/Landing/logo.svg
  packages/site/static/logo.svg
Due: none

fix: use link on docs
  packages/site/src/features/Landing/Landing.tsx
Due: prettier --write, eslint --fix

docs: improve instruction
  docs/CustomTranslator.md
Due: prettier --write --parser markdown

docs: proofread the docs
  docs/CustomModules.md
  docs/CustomTTS.md
  docs/CustomTranslator.md
  docs/Introduction.md
  docs/api/custom-module.md
  docs/api/translator.md
  docs/api/tts.md
  docs/dev/AndroidDebug.md
  docs/dev/Development.md
  docs/guides/OfflineTranslation.md
Due: prettier --write --parser markdown

docs: improve consistency
  docs/api/translator.md
  docs/guides/OfflineTranslation.md
Due: prettier --write --parser markdown

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
