Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore(#232): prevent format languages lists
  modules/LibreTranslator.js
  modules/LingvaTranslator.js
  modules/TartuNLP.js
Due: prettier --write, eslint --fix

test(#217): use audio file with sample
  src/app/Background/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/TTSManager/__tests__/audio-sample-uint-array.json
  src/app/Background/TTSManager/__tests__/sample.mp3
Due: prettier --write, eslint --fix, prettier --write --parser json

docs(#217): add doc comments
  src/app/Background/TTSManager/TTSStorage.ts
  src/app/Background/TTSManager/index.ts
Due: prettier --write, eslint --fix

refactor(#217): reuse TTS instance
  src/app/Background/TTSManager/TTSController.ts
  src/app/Background/index.ts
  src/requests/backend/tts/deleteCustomSpeaker.ts
  src/requests/backend/tts/getTTS.ts
  src/requests/backend/tts/updateCustomSpeaker.ts
Due: prettier --write, eslint --fix

fix(#217): reset TTS to default while remove active TTS
  src/requests/backend/tts/deleteCustomSpeaker.ts
Due: prettier --write, eslint --fix

refactor(#217): flatten files structure
  src/app/Background/TTS/TTSController.ts
  src/app/Background/TTS/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/TTS/TTSManager/__tests__/sample.mp3
  src/app/Background/TTS/TTSManager/index.ts
  src/app/Background/TTS/TTSManager/utils.ts
  src/app/Background/TTS/TTSStorage.ts
  src/app/Background/index.ts
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
  src/requests/backend/tts/addCustomSpeaker.ts
  src/requests/backend/tts/updateCustomSpeaker.ts
Due: prettier --write, eslint --fix

refactor(#217): move custom id prefix to a const
  src/app/Background/TTS/TTSManager/index.ts
Due: prettier --write, eslint --fix

refactor(#217): improve filenames
  src/app/Background/TTS/TTSManager/ttsLoader.ts
Due: prettier --write, eslint --fix

chore(#217): fix import
  src/app/Background/TTS/TTSManager/index.ts
Due: prettier --write, eslint --fix

test(#217): add test
  src/app/Background/TTS/TTSManager/__tests__/TTSManager.test.ts
Due: prettier --write, eslint --fix

chore(#217): simplify code
  src/app/Background/TTS/TTSManager/index.ts
Due: prettier --write, eslint --fix

chore(#217): do not use esm modules
  src/app/Background/TTS/TTSManager/ttsLoader.ts
Due: prettier --write, eslint --fix

chore(#217): use google TTS by default
  src/config.ts
Due: prettier --write, eslint --fix

feat(#217): notify config updates both bg and cs contexts
  src/app/ContentScript/ClientConfig.ts
  src/app/ContentScript/index.ts
  src/app/index.ts
  src/requests/common/appConfigUpdate.ts
Due: prettier --write, eslint --fix

refactor(#217): use config from update event
  src/app/ContentScript/ClientConfig.ts
Due: prettier --write, eslint --fix

feat(#217): update TTS languages by config changes
  src/lib/hooks/useTTSLanguages.ts
Due: prettier --write, eslint --fix

fix(#217): prevent update state for unmount component
  src/lib/hooks/useIsMounted.ts
  src/lib/hooks/useTTSLanguages.ts
Due: prettier --write, eslint --fix

refactor(#217): rename dir with global requests
  src/app/ContentScript/ClientConfig.ts
  src/app/index.ts
  src/lib/hooks/useTTSLanguages.ts
  src/requests/global/appConfigUpdate.ts
Due: prettier --write, eslint --fix

docs(#217): add readme for global requests
  src/requests/global/README.md
Due: prettier --write --parser markdown

test(#217): fix expected ttsModule
  src/app/ConfigStorage/__test__/config-v4.json
Due: prettier --write --parser json

chore(#217): remove unused files
  src/lib/tts/speakers.ts
Due: prettier --write, eslint --fix

refactor(#217): introduce var to improve readability
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
Due: prettier --write, eslint --fix

refactor(#217): provide tts constructor from controller
  src/app/Background/TTS/TTSController.ts
  src/requests/backend/tts/getTTS.ts
  src/requests/backend/tts/getTTSLanguages.ts
Due: prettier --write, eslint --fix

docs(#217): add TTS docs
  docs/CustomModules.md
  docs/CustomTTS.md
Due: prettier --write --parser markdown

docs(#217): improve custom translators docs
  docs/CustomTranslator.md
Due: prettier --write --parser markdown

chore(#217): fix typos
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
Due: prettier --write --parser json

docs(#217): add TTS API docs
  docs/CustomTTS.md
  docs/modules/tts.md
Due: prettier --write --parser markdown

feat(#227): improve options layout
  src/pages/options/layout/OptionSection/OptionSection.css
  src/pages/options/layout/OptionSection/OptionSection.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix

chore(#227): implement mobile view
  src/pages/options/layout/OptionSection/OptionSection.css
  src/pages/options/layout/OptionsPage.css
Due: none

chore(#227): add indents for options items
  src/pages/options/layout/OptionSection/OptionSection.css
Due: none

feat(#227): improve options grouping
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix

feat(#227): improve indents
  src/pages/options/layout/OptionSection/OptionSection.css
  src/pages/options/layout/OptionsPage.css
  src/pages/options/layout/OptionsTree/OptionsTree.tsx
  src/pages/options/layout/PageSection/PageSection.tsx
Due: prettier --write, eslint --fix

chore(#227): remove unnecessary sub titles
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix

chore(#227): improve descriptions
  src/_locales/en/messages.json
Due: prettier --write --parser json

feat(#227): implement localized nodes
  src/_locales/en/messages.json
  src/lib/language.tsx
  src/pages/options/layout/OptionSection/OptionSection.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.css
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/pages/options/layout/OptionsTree/OptionsTree.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#227): improve translators texts
  src/_locales/en/messages.json
Due: prettier --write --parser json

chore(#227): improve TTS texts
  src/_locales/en/messages.json
  src/app/Background/TTS/TTSManager/index.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#227): improve page translation texts
  src/_locales/en/messages.json
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#227): improve selected text translation texts
  src/_locales/en/messages.json
  src/lib/utils/index.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#227): improve text translation section texts
  src/_locales/en/messages.json
  src/lib/language.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
