Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

refactor: move code to method
  src/app/index.ts
Due: prettier --write, eslint --fix

build: wrap generic files
  webpack.config.js
Due: prettier --write, eslint --fix

feat: implement option to manage history
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/config.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/requests/backend/history/addTranslationHistoryEntry.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix

feat: add note about disabled history
  src/components/primitives/Notification/Notification.bundle/universal.ts
  src/components/primitives/Notification/Notification.css
  src/components/primitives/Notification/Notification.tsx
  src/components/primitives/Notification/_type/Notification_type_default.css
  src/components/primitives/Notification/_type/Notification_type_default.tsx
  src/pages/history/layout/HistoryPage.tsx
  src/pages/history/layout/TranslationsHistory/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

chore: update stylelint config
  .stylelintrc
Due: none

test: update migration test
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/config-v6.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: use localized messages
  src/_locales/en/messages.json
  src/pages/history/layout/TranslationsHistory/TranslationsHistory.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: move localization util
  src/lib/language.tsx
  src/pages/history/layout/TranslationsHistory/TranslationsHistory.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix

chore: remove comment
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix

chore: update translators package
  package-lock.json
  package.json
Due: prettier --write --parser json

6.0.0
  package-lock.json
  package.json
Due: prettier --write --parser json

build: check manifest only for firefox archives
  scripts/testBuildArchives.sh
Due: none

ci: publish release even for manual run
  .github/workflows/release.yml
Due: none

ci: allow to release with no tag update
  .github/workflows/release.yml
Due: none

ci: skip publishing a standalone file for current version
  .github/workflows/release.yml
Due: none

vitonsky published a site update
  chromium_updates.xml
Due: none

ci: remove debug prints
  .github/workflows/release.yml
Due: none

ci: use commit hash as target for releases
  .github/workflows/release.yml
Due: none

Revert "ci: remove debug prints"
  .github/workflows/release.yml
Due: none

ci: test commit hash is correct
  .github/workflows/release.yml
Due: none

Revert "ci: test commit hash is correct"
  .github/workflows/release.yml
Due: none

Revert "Revert "ci: remove debug prints""
  .github/workflows/release.yml
Due: none

ci: add explainer
  .github/workflows/release.yml
Due: none

Create CNAME
  CNAME
Due: none

chore: add devChrome target
  makefile
Due: none

build: add override for chrome target
  manifests/chrome.json
Due: prettier --write --parser json

test: add delay for mocked async functions
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  test/setupFiles/webextension.js
Due: prettier --write, eslint --fix

fix: add awaits for migrations
  src/app/ConfigStorage/ConfigStorage.migrations.ts
Due: prettier --write, eslint --fix

refactor: unify the code
  test/setupFiles/utils.js
  test/setupFiles/webextension.js
Due: prettier --write, eslint --fix

chore: remove debug prints
  test/setupFiles/utils.js
Due: prettier --write, eslint --fix

fix: inline offscreen reasons for old chrome browsers
  src/app/index.ts
Due: prettier --write, eslint --fix

fix: repair broken config once migration completed
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/lib/migrations/MigrationsExecutor/PersistentMigrationsExecutor.ts
  src/lib/migrations/createMigrationTask.ts
Due: prettier --write, eslint --fix

6.0.1
  package-lock.json
  package.json
Due: prettier --write --parser json

vitonsky published a site update
  CNAME
  chromium_updates.xml
Due: none

feat: add landing page
  site/.gitignore
  site/README.md
  site/babel.config.js
  site/docusaurus.config.ts
  site/package-lock.json
  site/package.json
  site/sidebars.ts
  site/src/components/logo.svg
  site/src/components/theme.ts
  site/src/pages/index.module.css
  site/src/pages/index.tsx
  site/static/.nojekyll
  site/static/icons/chrome.png
  site/static/icons/firefox.png
  site/static/screenshots/custom-translators.png
  site/static/screenshots/dictionary.png
  site/static/screenshots/page-translation.png
  site/static/screenshots/selected-text-translation.png
  site/static/screenshots/settings.png
  site/static/screenshots/text-translation-popup.png
  site/static/screenshots/text-translation.png
  site/tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: ignore unresolved imports for docusaurus aliases
  .eslintrc
Due: none

chore: ignore static files imports
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

refactor: prefix urls with base path
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

refactor: remove react-elegant-ui from site package
  site/package-lock.json
  site/package.json
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: improve links style
  site/src/components/theme.ts
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix
