Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

build(#362): use sharp to convert SVG to PNG
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(#355): use domtranslator package
  package-lock.json
  package.json
  src/app/ContentScript/PageTranslator/NodesTranslator.tsx
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#365): update translators library
  package-lock.json
  package.json
Due: prettier --write --parser json

feat(#349): use monaco editor
  package-lock.json
  package.json
  src/pages/options/layout/OptionsPage.components/Editor/Editor.css
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
  src/pages/options/layout/OptionsPage.components/Editor/MonakoEditor/MonacoEditor.tsx
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#349): add comment
  src/pages/options/layout/OptionsPage.components/Editor/MonakoEditor/MonacoEditor.tsx
Due: prettier --write, eslint --fix

feat(#349): fork javascript rules
  src/pages/options/layout/OptionsPage.components/Editor/MonakoEditor/MonacoEditor.tsx
  src/pages/options/layout/OptionsPage.components/Editor/MonakoEditor/languages/typescript.ts
Due: prettier --write, eslint --fix

build(#349): add bundle analyzer for debug
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#349): remove unnecessary deps
  package-lock.json
  package.json
Due: prettier --write --parser json

build(#349): clean code
  webpack.config.js
Due: prettier --write, eslint --fix

feat(#349): use preconfigured editor
  src/pages/options/layout/OptionsPage.components/Editor/MonakoEditor/MonacoEditor.tsx
Due: prettier --write, eslint --fix

feat(#349): fit editor to a viewport
  src/pages/options/layout/OptionsPage.components/Editor/Editor.css
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
  src/pages/options/layout/OptionsPage.components/Editor/MonakoEditor/MonacoEditor.tsx
Due: prettier --write, eslint --fix

chore(#349): set editor minimal height
  src/pages/options/layout/OptionsPage.components/Editor/Editor.css
Due: none

fix(#358): enable pointer events for popup
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.css
Due: none

5.0.6
  package-lock.json
  package.json
Due: prettier --write --parser json

vitonsky published a site update
  chromium_updates.xml
Due: none

fix(#378): update translators package with fixed version
  package-lock.json
  package.json
Due: prettier --write --parser json

5.0.7
  package-lock.json
  package.json
Due: prettier --write --parser json

chore(#386): update translators package
  package-lock.json
  package.json
  src/app/Background/TranslatorManager/index.ts
  src/app/Background/index.ts
  src/lib/language.tsx
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/requests/backend/translate.ts
  src/requests/backend/translators/index.ts
  src/requests/backend/translators/utils.ts
  src/requests/contentscript/pageTranslation/enableTranslatePage.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: outdated `caniuse-lite` by updating it
  package-lock.json
Due: prettier --write --parser json

chore(#1): remove third party library and associated code
  .eslintignore
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .prettierignore
  .stylelintignore
  docs/Development.md
  jest.config.js
  makefile
  src/app/Background/index.ts
  src/app/Background/requestHandlers.ts
  src/lib/translators/bergamot/BergamotTranslator.ts
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
  src/requests/backend/bergamot/addBergamotFile.ts
  src/requests/backend/bergamot/data.ts
  src/requests/backend/bergamot/getBergamotFile.ts
  src/requests/backend/bergamot/index.ts
  thirdparty/bergamot/.dockerignore
  thirdparty/bergamot/.env
  thirdparty/bergamot/.gitignore
  thirdparty/bergamot/Dockerfile
  thirdparty/bergamot/README.md
  thirdparty/bergamot/makefile
  thirdparty/bergamot/package-lock.json
  thirdparty/bergamot/package.json
  thirdparty/bergamot/rollup.config.mjs
  thirdparty/bergamot/src/frontend/BatchTranslator.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
  thirdparty/bergamot/src/frontend/errors.ts
  thirdparty/bergamot/src/types.ts
  thirdparty/bergamot/src/worker/BergamotTranslatorWorker.ts
  thirdparty/bergamot/src/worker/translator.worker.ts
  thirdparty/bergamot/src/worker/types.ts
  thirdparty/bergamot/src/worker/utils/YAML.ts
  thirdparty/bergamot/tsconfig.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

fix: `1 critical` vulnerability
  package-lock.json
Due: prettier --write --parser json

fix: moderate severity vulnerability for `tar` dep
  package-lock.json
Due: prettier --write --parser json

style: status badge for `CodeQL` in `README.md`
  README.md
Due: prettier --write --parser markdown

docs: create `pull_request_template.md`
  .github/pull_request_template.md
Due: prettier --write --parser markdown

ci: remove codeql config
  .github/workflows/codeql-analysis.yml
Due: none

style: remove README.md badge for removed workflow
  README.md
Due: prettier --write --parser markdown

ci: add GitHub Actions workflow for testing
  .github/workflows/test.yml
Due: none

build: build all from one makefile
  docker-compose.yml
  docker/Dockerfile
  makefile
  thirdparty/bergamot/Dockerfile
  thirdparty/bergamot/makefile
Due: none

build: granular building
  makefile
Due: none

build: group make tasks
  makefile
Due: none

build: move build scripts to makefile
  makefile
  package.json
Due: prettier --write --parser json

build: use env file for variables
  .env.example
  .gitignore
  makefile
Due: none

ci: update tests pipeline
  .github/workflows/test.yml
  .github/workflows/tests.yml
Due: none

ci: run build on CI
  .github/actions/build/action.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

ci: move building a crx file to a release pipeline
  .github/actions/build/action.yml
  .github/workflows/release.yml
Due: none

ci: configure env file
  .github/actions/build/action.yml
Due: none

chore: use make command
  makefile
Due: none

ci: create build directory
  thirdparty/bergamot/Dockerfile
Due: none

ci: add debug print
  thirdparty/bergamot/Dockerfile
  thirdparty/bergamot/makefile
Due: none
