Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

refactor: update sandbox setup
  src/app/index.ts
Due: prettier --write, eslint --fix

chore: use 128px icons size
  manifests/firefox-standalone.json
  manifests/firefox.json
  src/lib/browser/setAppIcon.ts
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: remove console logs
  src/contentscript.tsx
  src/lib/browser/setAppIcon.ts
Due: prettier --write, eslint --fix

fix: remove common chunk
  manifests/chromium.json
  manifests/firefox-standalone.json
  manifests/firefox.json
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
  src/pages/dictionary/dictionary.html
  src/pages/history/history.html
  src/pages/options/options.html
  src/pages/popup/popup.html
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: remove web accessible resources
  manifests/chromium.json
  manifests/firefox-standalone.json
  manifests/firefox.json
Due: prettier --write --parser json

chore: update CSP
  manifests/chromium.json
Due: prettier --write --parser json

refactor: rename background script
  manifests/chromium.json
  manifests/firefox-standalone.json
  manifests/firefox.json
  src/background-script.ts
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: sort manifest data
  manifests/chromium.json
  manifests/firefox-standalone.json
  manifests/firefox.json
Due: prettier --write --parser json

fix: enable cache back & fix translators application
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
  src/requests/utils/requestBuilder/buildBackendRequest.ts
Due: prettier --write, eslint --fix

chore: update background check helper
  src/lib/browser/index.ts
Due: prettier --write, eslint --fix

refactor: provide worker implementation instead of patch global
  src/lib/translators/bergamot/BergamotTranslator.ts
  src/lib/translators/bergamot/OffscreenWorker.ts
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
Due: prettier --write, eslint --fix

refactor: implement Worker interface properly
  src/lib/translators/bergamot/OffscreenWorker.ts
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
Due: prettier --write, eslint --fix

refactor(OffscreenWorker): skip unaddressed messages
  src/lib/translators/bergamot/OffscreenWorker.ts
  src/offscreen-documents/worker/worker.ts
Due: prettier --write, eslint --fix

refactor(OffscreenWorker): implement terminate method
  src/lib/translators/bergamot/OffscreenWorker.ts
  src/offscreen-documents/worker/worker.ts
Due: prettier --write, eslint --fix

refactor(OffscreenWorker): remove debug prints
  src/lib/translators/bergamot/OffscreenWorker.ts
Due: prettier --write, eslint --fix

feat: improve iframe security
  src/offscreen-documents/main/main.ts
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix

fix: use consistent calls for proxy worker
  src/offscreen-documents/main/main.ts
  src/offscreen-documents/worker/worker.ts
Due: prettier --write, eslint --fix

refactor: wrap request code
  src/lib/translators/bergamot/OffscreenWorker.ts
  src/offscreen-documents/worker/worker.ts
  src/requests/offscreen/offscreenWorker/index.ts
Due: prettier --write, eslint --fix

refactor: wrap requests with helper
  src/lib/translators/bergamot/OffscreenWorker.ts
  src/requests/offscreen/offscreenWorker/index.ts
  src/requests/offscreen/offscreenWorker/offscreenWorkerEvent.ts
  src/requests/utils/requestBuilder/buildBackendRequest.ts
Due: prettier --write, eslint --fix

chore: stop requests handler by terminate worker
  src/lib/translators/bergamot/OffscreenWorker.ts
Due: prettier --write, eslint --fix

feat: forward custom translators info to runtime
  src/lib/translators/customTranslators/CustomTranslatorController.ts
  src/lib/translators/customTranslators/loadTranslator.ts
  src/lib/translators/customTranslators/utils.ts
  src/offscreen-documents/translator/index.ts
  src/offscreen-documents/translator/translator.ts
  src/requests/backend/translators/index.ts
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix

fix: delete translators after check
  src/lib/translators/customTranslators/utils.ts
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix

fix: loading order
  src/app/index.ts
Due: prettier --write, eslint --fix

fix: endpoint name
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix

feat: keep only one iframe for custom translator instance
  src/lib/translators/customTranslators/CustomTranslatorController.ts
  src/lib/translators/customTranslators/utils.ts
  src/requests/backend/translators/index.ts
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix

chore: add retries to wait custom translators
  src/requests/backend/translators/index.ts
Due: prettier --write, eslint --fix

fix: implement theme observing in offscreen document
  src/lib/browser/Theme/BrowserThemeInfo.ts
  src/offscreen-documents/main/main.ts
  src/requests/offscreen/theme/index.ts
Due: prettier --write, eslint --fix

fix: use allow-same-origin for firefox
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix

refactor: proxy a fetch requests
  src/offscreen-documents/translator/index.ts
  src/offscreen-documents/translator/translator.ts
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix

refactor: remove any
  src/requests/offscreen/customTranslators/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update typescript
  package-lock.json
  package.json
Due: prettier --write --parser json

build: move fast build flag to env file
  .env.example
  makefile
Due: none

refactor: split types
  src/offscreen-documents/translator/index.ts
  src/offscreen-documents/translator/translator.ts
  src/requests/offscreen/customTranslators/index.ts
  src/requests/offscreen/customTranslators/types.ts
Due: prettier --write, eslint --fix

chore: disable debug log
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix

chore: remove BaseTranslator class
  src/lib/translators/customTranslators/loadTranslator.ts
Due: prettier --write, eslint --fix

refactor: clear main offscreen document
  src/offscreen-documents/main/main.ts
Due: prettier --write, eslint --fix

chore: clear html files
  src/offscreen-documents/translator/translator.html
  src/offscreen-documents/worker/worker.html
Due: none

chore: clear html files
  src/offscreen-documents/translator/translator.html
Due: none

chore: remove debug prints
  src/lib/serializer.ts
  src/offscreen-documents/translator/translator.ts
  src/pages/popup/popup.tsx
  src/requests/backend/ping.ts
  src/requests/backend/translators/addTranslator.ts
  src/requests/offscreen/offscreenWorker/index.ts
  src/requests/utils/makePing.ts
Due: prettier --write, eslint --fix

chore: remove debug prints
  src/requests/utils/requestBuilder/buildBackendRequest.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
