Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

build: skip build linter
  scripts/testBuildArchives.sh
Due: none

3.0.1
  package.json
Due: prettier --write --parser json

vitonsky published a site update
  chromium_updates.xml
Due: none

chore: remove debug from background script
  src/background.ts
Due: prettier --write, eslint --fix

feat: add browser theme explorers
  package.json
  src/lib/browser/Theme/BrowserThemeInfo.ts
  src/lib/browser/Theme/FirefoxThemeInfo.ts
  src/lib/browser/Theme/ThemeInfo.ts
  src/lib/browser/Theme/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: implement PoC logic of dynamic icons
  src/config.ts
  src/modules/Background/index.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix

chore: add browser detection utils
  src/lib/browser/index.ts
Due: prettier --write, eslint --fix

chore: improve request builder types
  src/requests/utils/requestBuilder/buildBackendRequest.ts
Due: prettier --write, eslint --fix

build: add light icon to firefox manifest
  manifests/firefox.json
  manifests/manifest.json
  src/background.ts
  src/modules/Background/index.ts
  src/pages/dictionary/dictionary.html
  src/pages/options/options.html
  src/res/logo-icon-simple-dark.svg
  src/res/logo-icon-simple-light.svg
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: implement dynamic icon change
  src/background.ts
  src/lib/browser/AppThemeControl.ts
  src/lib/browser/Theme/FirefoxThemeInfo.ts
  src/lib/browser/setAppIcon.ts
  src/modules/Background/index.ts
  src/modules/ContentScript.ts
Due: prettier --write, eslint --fix

chore: add i18n texts for appIcon option
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
Due: prettier --write --parser json

3.0.2
  package.json
Due: prettier --write --parser json

feat: handle text from shadow DOM
  src/modules/NodesTranslator.tsx
Due: prettier --write, eslint --fix

chore: update translator library
  package.json
  src/background.ts
  src/modules/Background/index.ts
  src/requests/backend/getTranslatorFeatures.ts
  src/requests/backend/getTranslatorModules.ts
  src/requests/types.ts
  src/types/objects.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: fix translator version
  package.json
Due: prettier --write --parser json

feat: implement PoC translate text from context menu
  manifests/manifest.json
  src/background.ts
  src/constants.ts
  src/contentscript.tsx
  src/modules/SelectTranslator.tsx
  src/requests/contentscript/translateSelectedText.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: implement option to translate from context menu
  src/background.ts
  src/config.ts
  src/lib/browser/toggleTranslateItemInContextMenu.ts
  src/modules/SelectTranslator.tsx
  src/types/runtime.ts
Due: prettier --write, eslint --fix

chore: replace "quickTranslate" preference to "mode"
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/background.ts
  src/config.ts
  src/contentscript.tsx
  src/modules/SelectTranslator.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/requests/contentscript/pageTranslation/enableTranslatePage.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add config migration
  src/config.ts
  src/modules/ConfigStorage/ConfigStorage.ts
Due: prettier --write, eslint --fix

chore: remove unnecessary description on options page
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix

chore: add i18n messages for context menu
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/lib/browser/toggleTranslateItemInContextMenu.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add task
  src/background.ts
Due: prettier --write, eslint --fix

refactor: implement config updates handling with deps
  src/background.ts
  src/contentscript.tsx
  src/modules/Background/index.ts
  src/modules/ConfigStorage/ConfigStorage.ts
Due: prettier --write, eslint --fix

chore(FirefoxThemeInfo): remove debug print
  src/lib/browser/Theme/FirefoxThemeInfo.ts
Due: prettier --write, eslint --fix

fix: hide translate button in menu when select translation is disabled
  src/background.ts
Due: prettier --write, eslint --fix

3.0.3
  package.json
Due: prettier --write --parser json

chore: update translator
  package.json
Due: prettier --write --parser json

chore: add ObservableRecord
  src/lib/ObservableRecord.ts
  src/modules/ConfigStorage/ConfigStorage.ts
Due: prettier --write, eslint --fix

chore: add support empty deps ObservableRecord
  src/background.ts
  src/lib/ObservableRecord.ts
Due: prettier --write, eslint --fix

chore: use ObservableRecord in ContentScript
  src/lib/ObservableRecord.ts
  src/modules/ContentScript.ts
Due: prettier --write, eslint --fix

feat: add PoC StateManager
  src/contentscript.tsx
  src/lib/StateManager.ts
Due: prettier --write, eslint --fix

feat: implement full featured StateManager
  src/contentscript.tsx
  src/lib/StateManager.ts
Due: prettier --write, eslint --fix

refactor: use state manager for CS
  src/contentscript.tsx
Due: prettier --write, eslint --fix

refactor: improve state control for CS
  src/contentscript.tsx
Due: prettier --write, eslint --fix

refactor: improve state control for BG
  src/background.ts
Due: prettier --write, eslint --fix

fix: prevent DB versionchange stucking
  src/modules/Background/TranslatorsCacheStorage.ts
Due: prettier --write, eslint --fix

fix(NodesTranslator): handle intersection from 0px for lazzy translation
  src/modules/NodesTranslator.tsx
Due: prettier --write, eslint --fix

refactor(NodesTranslator): improve structure
  src/modules/NodesTranslator.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
