Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

build: add workflow for build gh-pages
  .github/workflows/release.yml
Due: none

Create 'gh-pages' branch
  README.md
Due: prettier --write --parser markdown

vitonsky published a site update
  .nojekyll
  README.md
  chromium_updates.xml
Due: prettier --write --parser markdown

build: add manifest for chromium
  manifests/chromium.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

2.2.18
  package.json
Due: prettier --write --parser json

vitonsky published a site update
  chromium_updates.xml
Due: none

2.2.19
  package.json
Due: prettier --write --parser json

build: keep svg static files to use on pages
  manifests/manifest.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

2.2.20
  package.json
Due: prettier --write --parser json

chore: add supporters block in readme
  README.md
  assets/jb_beam.svg
Due: prettier --write --parser markdown

chore: ignore idea files
  .gitignore
Due: none

chore: update translators
  package.json
Due: prettier --write --parser json

build: add chromium version for google store
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

2.2.21
  package.json
Due: prettier --write --parser json

fix: remove repeated langs on options page
  package.json
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add panel prototype for mobile browsers
  src/augments/AbstractAugment.ts
  src/augments/EmbeddedControlPanel/EmbeddedControlPanel.css
  src/augments/EmbeddedControlPanel/EmbeddedControlPanel.tsx
  src/augments/EmbeddedControlPanel/index.tsx
  src/contentscript.tsx
Due: prettier --write, eslint --fix

fix: detect language for mobile browsers
  src/augments/EmbeddedControlPanel/index.tsx
  src/contentscript.tsx
  src/lib/browser/index.ts
  src/lib/language.ts
Due: prettier --write, eslint --fix

chore: disable lazy translation on mobile browsers by default
  src/config.ts
Due: prettier --write, eslint --fix

chore: add script to debug on phones
  package.json
Due: prettier --write --parser json

refactor: fix popup layout to work on smartphone
  src/layouts/PageTranslator/PageTranslator.css
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
  src/pages/popup/layout/PopupWindow.css
  src/pages/popup/layout/PopupWindow.tsx
  src/pages/popup/popup.tsx
Due: prettier --write, eslint --fix

feat: implement mobile view to lang panel
  src/components/LanguagePanel/LanguagePanel.css
  src/components/LanguagePanel/LanguagePanel.tsx
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

chore: adopt additional settings in popup to mobile devices
  src/layouts/PageTranslator/PageTranslator.css
  src/layouts/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix

chore: disable remember max size of popup in mobile browsers
  src/pages/popup/layout/PopupWindow.tsx
Due: prettier --write, eslint --fix

docs: update installation instructions
  README.md
Due: prettier --write --parser markdown

refactor: make DictionaryPage work on mobile
  src/components/LayoutFlow/LayoutFlow.css
  src/components/LayoutFlow/LayoutFlow.tsx
  src/components/OptionsPanel/OptionsPanel.css
  src/components/OptionsPanel/OptionsPanel.tsx
  src/pages/dictionary/layout/DictionaryPage.css
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

chore: improve OptionsPanel layout
  src/components/OptionsPanel/OptionsPanel.css
Due: none

chore: fix DictionaryPage items view on mobile devices
  src/pages/dictionary/layout/DictionaryPage.css
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

chore: improve options page mobile view
  src/components/Button/Button.bundle/desktop.ts
  src/components/Button/Button.bundle/universal.ts
  src/components/Button/_mobile/Button_mobile.css
  src/components/Button/_mobile/Button_mobile.tsx
  src/pages/options/layout/OptionSection/OptionSection.css
  src/pages/options/layout/OptionsPage.css
  src/pages/options/layout/OptionsPage.tsx
Due: prettier --write, eslint --fix

chore: close file saver descriptor
  src/lib/files.ts
Due: prettier --write, eslint --fix

chore: hide export buttons for mobile version
  src/components/LayoutFlow/LayoutFlow.tsx
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/options/layout/OptionsPage.tsx
Due: prettier --write, eslint --fix

chore: rename mobile features to consistent names
  src/components/Button/_mobile/Button_mobile.tsx
  src/config.ts
  src/contentscript.tsx
  src/lib/browser/index.ts
  src/lib/language.ts
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/options/layout/OptionsPage.tsx
  src/pages/popup/layout/PopupWindow.tsx
  src/pages/popup/popup.tsx
Due: prettier --write, eslint --fix

docs: update roadmap
  ROADMAP.md
Due: prettier --write --parser markdown

3.0.0
  package.json
Due: prettier --write --parser json

fix: update TS and fix RecordValues util type
  package.json
  src/layouts/PageTranslator/PageTranslator.utils/utils.ts
  src/lib/EventManager.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

build: disable build linting due to bug
  scripts/testBuildArchives.sh
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
