Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

ci: set chmod 777 for out dirs
  makefile
Due: none

ci: remove unnecessary option
  makefile
Due: none

ci: add cache for thirdparty
  .github/actions/build/action.yml
Due: none

build: mount local directory for persistent cache
  .gitignore
  docker-compose.yml
  makefile
Due: none

ci: update permissions
  makefile
Due: none

Revert "build: mount local directory for persistent cache"
  .gitignore
  docker-compose.yml
Due: none

build: remove unnecessary chmod
  makefile
Due: none

build: add npx prefix
  makefile
Due: none

ci: map directory as volume
  .dockerignore
  .github/actions/build/action.yml
  .gitignore
  docker-compose.yml
  makefile
Due: none

ci: remove chown
  makefile
Due: none

ci: act as root in container
  docker-compose.yml
  makefile
Due: none

ci: don't create dir manually
  makefile
Due: none

build: move dockerfile back to root
  Dockerfile
  docker-compose.yml
Due: none

ci: cache only artifacts
  .github/actions/build/action.yml
  makefile
Due: none

chore: use named persistent volume
  docker-compose.yml
Due: none

chore: act as user node
  docker-compose.yml
Due: none

build: remove explicit dockerfile
  docker-compose.yml
Due: none

Revert "ci: add debug print"
  thirdparty/bergamot/Dockerfile
  thirdparty/bergamot/makefile
Due: none

ci: build only one target for tests
  .github/actions/build/action.yml
Due: none

build: remove unnecessary container capabilities
  docker-compose.yml
Due: none

chore: split build and tests
  .github/actions/build/action.yml
  .github/actions/init/action.yml
  .github/workflows/tests.yml
Due: none

ci: remove unnecessary triggers
  .github/workflows/tests.yml
Due: none

ci: organize pipeline files
  .github/actions/build/action.yml
  .github/actions/prepare-build/action.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

docs: update docs
  docs/Development.md
Due: prettier --write --parser markdown

ci: update cache key
  .github/workflows/tests.yml
Due: none

build: update node version in containers
  Dockerfile
  thirdparty/bergamot/Dockerfile
Due: none

ci: update node version
  .github/actions/init/action.yml
Due: none

build: add node version in package.json
  package-lock.json
  package.json
Due: prettier --write --parser json

build: update dependencies
  package-lock.json
  package.json
Due: prettier --write --parser json

5.0.8
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: archive build artifacts
  .github/workflows/tests.yml
Due: none

ci: archive build artifacts for release
  .github/workflows/release.yml
Due: none

build: add firefox-standalone target
  makefile
  manifests/firefox-standalone.json
Due: prettier --write --parser json

build: add overrides for firefox targets
  webpack.config.js
Due: prettier --write, eslint --fix

build: remove overrides for firefox target
  webpack.config.js
Due: prettier --write, eslint --fix

build: create XPI file from standalone version
  .github/workflows/release.yml
Due: none

build: remove unsupported flag
  .github/workflows/release.yml
Due: none

ci: update test build targets
  .github/workflows/tests.yml
Due: none

build: update valid targets list
  webpack.config.js
Due: prettier --write, eslint --fix
