Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

chore(#275): fix keys in locales
  src/_locales/et/messages.json
Due: prettier --write --parser json

chore(#275): fix placeholders in locales
  src/_locales/sw/messages.json
  src/_locales/te/messages.json
Due: prettier --write --parser json

feat(#275): order RPM limits exact
  scripts/ChatGPT.mjs
Due: none

feat(#275): improve locales validation while sync
  scripts/locales/utils/syncLocalizations.js
Due: prettier --write, eslint --fix

feat(#275): add new locales
  src/_locales/ca/messages.json
  src/_locales/cs/messages.json
  src/_locales/da/messages.json
  src/_locales/el/messages.json
  src/_locales/gu/messages.json
  src/_locales/he/messages.json
  src/_locales/hi/messages.json
  src/_locales/hr/messages.json
  src/_locales/lt/messages.json
  src/_locales/lv/messages.json
  src/_locales/ml/messages.json
  src/_locales/mr/messages.json
  src/_locales/ro/messages.json
  src/_locales/sk/messages.json
  src/_locales/sl/messages.json
  src/_locales/sr/messages.json
  src/_locales/th/messages.json
  src/_locales/uk/messages.json
Due: prettier --write --parser json

feat(#275): validate placeholders
  scripts/locales/utils/syncLocalizations.js
  src/_locales/bg/messages.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#275): update env variable name
  scripts/ChatGPT.mjs
Due: none

docs(#275): update GPT guide
  scripts/locales/README.md
Due: prettier --write --parser markdown

fix(#280): update translators package
  package.json
Due: prettier --write --parser json

feat(#280): validate page lang code
  src/lib/browser/index.ts
  src/lib/language.tsx
Due: prettier --write, eslint --fix

feat(#280): do not auto translate for not supported languages
  src/app/ContentScript/PageTranslationContext.ts
Due: prettier --write, eslint --fix

fix(#284): add hack to preserve focus reset behavior
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.css
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.tsx
Due: prettier --write, eslint --fix

fix(#282): execute content scripts after install
  src/app/index.ts
Due: prettier --write, eslint --fix

refactor(#282): improve code style
  src/app/index.ts
Due: prettier --write, eslint --fix

refactor(#282): move inject logic to method
  src/app/index.ts
Due: prettier --write, eslint --fix

refactor(#282): inject scripts for any reload
  src/app/index.ts
Due: prettier --write, eslint --fix

chore(#282): sort imports
  src/app/index.ts
Due: prettier --write, eslint --fix

chore(#292): add eslint rule to sort imports
  .eslintignore
  .eslintrc
  .prettierignore
  .stylelintignore
  package.json
Due: prettier --write --parser json

refactor(#292): group any packages
  .eslintrc
  src/app/Background/TTS/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/index.ts
  src/app/ContentScript/PageTranslator/components/OriginalTextPopup/OriginalTextPopup.tsx
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator/TextTranslator.tsx
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.tsx
  src/components/controls/LanguagePanel/LanguagePanel.tsx
  src/components/layouts/LayoutFlow/LayoutFlow.tsx
  src/components/layouts/ModalLayout/ModalLayout.tsx
  src/components/layouts/Page/Page.tsx
  src/components/layouts/TranslationCard/TranslationCard.tsx
  src/components/primitives/Button/Button.tsx
  src/components/primitives/Loader/Loader.tsx
  src/components/primitives/Select/applyMaxHeight.ts
  src/components/primitives/ToastMessages/ToastMessages.tsx
  src/lib/language.tsx
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/dictionary/layout/OptionsPanel/OptionsPanel.tsx
  src/pages/history/layout/HistoryPage.tsx
  src/pages/history/layout/TranslationsHistory/TranslationsHistory.tsx
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
  src/pages/options/layout/OptionsPage.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/pages/popup/layout/PopupWindow.tsx
  src/pages/popup/tabs/PageTranslator/PageTranslator.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator@tab.tsx
  src/types/runtime.ts
Due: prettier --write, eslint --fix

chore(#292): update ignore files
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

chore(#294): publish packages-lock files
  .gitignore
  package-lock.json
  thirdparty/bergamot/package-lock.json
Due: prettier --write --parser json

fix(#294): update types
  src/components/primitives/Select/Select.registry/desktop.ts
Due: prettier --write, eslint --fix

chore(#294): add deps for makefile
  makefile
Due: none

chore(#285): mark translator as not supported lang detection
  modules/TartuNLP.js
Due: prettier --write, eslint --fix

5.0.0
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: use nodejs 18 for build
  .github/workflows/release.yml
Due: none

ci: run build commands in bash
  .github/workflows/release.yml
  thirdparty/bergamot/makefile
Due: none

ci: do not prettify package-lock.json
  .prettierignore
  package-lock.json
Due: prettier --write --parser json

ci: run export commands in bash
  thirdparty/bergamot/makefile
Due: none

ci: set shell for makefiles
  makefile
  thirdparty/bergamot/makefile
Due: none

ci: add debug print for npm script
  package.json
Due: prettier --write --parser json

build: fix scripts
  package.json
Due: prettier --write --parser json

ci: add debug prints to webpack
  makefile
  webpack.config.js
Due: prettier --write, eslint --fix

ci: add debug prints to webpack
  makefile
  package.json
Due: prettier --write --parser json

ci: use npm scripts instead of make
  .github/workflows/release.yml
Due: none

ci: verbose build
  .github/workflows/release.yml
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

ci: build all
  .github/workflows/release.yml
Due: none

ci: use sleep
  package.json
Due: prettier --write --parser json
