Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

fix(#260): handle config updates after setup request handlers
  src/app/index.ts
Due: prettier --write, eslint --fix

chore(#234): remove bing translator
  README.md
  src/app/Background/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

test(#234): migration to fallback bing translator
  src/app/ConfigStorage/ConfigStorage.migrations.ts
Due: prettier --write, eslint --fix

test(#234): exclude tests from thirdparty dir
  jest.config.js
Due: prettier --write, eslint --fix

feat(#266): implement option to record hotkeys
  src/components/controls/Hotkey/index.tsx
  src/config.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/pages/options/layout/OptionsTree/OptionsTree.tsx
  src/types/runtime.ts
Due: prettier --write, eslint --fix

feat(#266): implement translation by hotkeys
  src/app/ContentScript/PageTranslationContext.ts
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

refactor(#266): use digits as literals
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

refactor(#266): sort hotkeys to keep consistent order
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

refactor(#266): implement hotkeys reset
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

refactor(#266): add reset button
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

refactor(#266): improve option description
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix

fix(#266): stop keys recording after reset by esc
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

feat(#266): add instructions to hotkeys recorder control
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

fix(#266): make keyboard navigation works
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

chore(#266): add migration
  src/app/ConfigStorage/ConfigStorage.migrations.ts
Due: prettier --write, eslint --fix

test(#266): update tests
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/config-v5.json
Due: prettier --write, eslint --fix, prettier --write --parser json

docs(#266): update development docs
  docs/Development.md
Due: prettier --write --parser markdown

test(#266): update tests
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
Due: prettier --write, eslint --fix

refactor(#266): split hotkey file to features
  src/app/ContentScript/PageTranslationContext.ts
  src/components/controls/Hotkey/index.tsx
  src/components/controls/Hotkey/utils.ts
Due: prettier --write, eslint --fix

refactor(#266): reset keys by blur window
  src/components/controls/Hotkey/utils.ts
Due: prettier --write, eslint --fix

chore(#266): add localized texts
  src/_locales/en/messages.json
  src/components/controls/Hotkey/index.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#266): remove debug prints
  src/app/ContentScript/PageTranslationContext.ts
  src/pages/options/layout/OptionsTree/OptionsTree.tsx
Due: prettier --write, eslint --fix

chore(#266): add gitignore to scripts
  scripts/locales/.gitignore
Due: none

chore(#266): sync locales
  src/_locales/ru/messages.json
  src/_locales/vi/messages.json
  src/_locales/zh/messages.json
Due: prettier --write --parser json

chore(#266): improve locales texts
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/_locales/vi/messages.json
  src/_locales/zh/messages.json
Due: prettier --write --parser json

chore(#266): require at least one modifier key
  src/components/controls/Hotkey/index.tsx
Due: prettier --write, eslint --fix

chore(#266): require exact match for pressed keys
  src/components/controls/Hotkey/utils.ts
Due: prettier --write, eslint --fix

chore(#266): prevent handle pressed key few times
  src/components/controls/Hotkey/utils.ts
Due: prettier --write, eslint --fix

fix(#276): update property name
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/history/layout/TranslationsHistory/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

fix(#276): change props names to handle text updates
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
  src/pages/options/layout/OptionsTree/OptionsTree.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

fix(#277): limit popup width
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.css
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.tsx
Due: prettier --write, eslint --fix

refactor(#277): rename entities
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator/TextTranslator.css
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator/TextTranslator.tsx
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.css
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.tsx
Due: prettier --write, eslint --fix

refactor(#277): move theme to wrapper
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslatorPopup.tsx
Due: prettier --write, eslint --fix

feat(#275): use official OpenAI API if possible
  scripts/ChatGPT.mjs
Due: none

feat(#275): translate locales by pieces
  scripts/locales/utils/syncLocalizations.js
Due: prettier --write, eslint --fix

chore(#275): fix languages names
  scripts/locales/utils/syncLocalizations.js
Due: prettier --write, eslint --fix

chore(#275): add tr language
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/vi/messages.json
  src/_locales/zh/messages.json
Due: prettier --write --parser json

chore(#275): increase delay for GPT requests
  scripts/ChatGPT.mjs
Due: none

chore(#275): add languages pack
  src/_locales/am/messages.json
  src/_locales/ar/messages.json
  src/_locales/bg/messages.json
  src/_locales/bn/messages.json
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/et/messages.json
  src/_locales/fa/messages.json
  src/_locales/fi/messages.json
  src/_locales/fil/messages.json
  src/_locales/fr/messages.json
  src/_locales/hu/messages.json
  src/_locales/id/messages.json
  src/_locales/it/messages.json
  src/_locales/ja/messages.json
  src/_locales/kn/messages.json
  src/_locales/ko/messages.json
  src/_locales/ms/messages.json
  src/_locales/nl/messages.json
  src/_locales/no/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt/messages.json
  src/_locales/sv/messages.json
  src/_locales/sw/messages.json
  src/_locales/ta/messages.json
  src/_locales/te/messages.json
Due: prettier --write --parser json

chore(#275): update texts
  src/_locales/am/messages.json
  src/_locales/bg/messages.json
  src/_locales/bn/messages.json
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/et/messages.json
  src/_locales/fa/messages.json
  src/_locales/fi/messages.json
  src/_locales/fil/messages.json
  src/_locales/fr/messages.json
  src/_locales/hu/messages.json
  src/_locales/id/messages.json
  src/_locales/it/messages.json
  src/_locales/ja/messages.json
  src/_locales/kn/messages.json
  src/_locales/ko/messages.json
  src/_locales/ms/messages.json
  src/_locales/nl/messages.json
  src/_locales/no/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt/messages.json
  src/_locales/sv/messages.json
  src/_locales/sw/messages.json
  src/_locales/ta/messages.json
  src/_locales/te/messages.json
Due: prettier --write --parser json
