Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

feat(135): implement search
  src/layouts/History/TranslationsHistory.tsx
  src/pages/history/layout/HistoryPage.tsx
  src/requests/backend/history/data.ts
  src/requests/backend/history/getHistoryEntries.ts
Due: prettier --write, eslint --fix

docs(#139): add offline translation manual
  docs/manuals/OfflineTranslation.md
Due: prettier --write --parser markdown

docs(#139): add links to readme and custom translators docs
  README.md
  docs/CustomTranslator.md
  docs/manuals/OfflineTranslation.md
Due: prettier --write --parser markdown

docs(#139): fix formatting of MD file
  docs/manuals/OfflineTranslation.md
Due: prettier --write --parser markdown

chore(#139): prevent formatting of md files
  .eslintignore
  .prettierignore
Due: none

docs(#139): add API key property
  docs/manuals/OfflineTranslation.md
Due: prettier --write --parser markdown

chore(135): improve indents
  src/pages/history/layout/HistoryPage.css
Due: none

chore: add history icon to popup
  src/components/Icon/Icon.assets/Material/history.svg
  src/components/Icon/Icon.bundle/desktop.ts
  src/components/Icon/_glyph/Icon_glyph_history.tsx
  src/pages/popup/layout/PopupWindow.tsx
Due: prettier --write, eslint --fix

chore: add i18n texts for history
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/pages/history/history.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: prevent blinking results text
  src/pages/history/layout/HistoryPage.tsx
Due: prettier --write, eslint --fix

fix: check length instead of null
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

chore: add specific message for empty search
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: improve translation block on mobile
  src/components/LayoutFlow/LayoutFlow.css
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

ci: disable stylelint specificity check
  .stylelintrc
Due: none

chore: increase indent for dictionary filter
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

feat: move lang name to text container
  src/pages/dictionary/layout/DictionaryPage.css
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

feat(#135): implement pagination
  package.json
  src/layouts/History/TranslationsHistory.tsx
  src/layouts/Page/Page.tsx
  src/pages/history/layout/HistoryPage.tsx
  src/requests/backend/history/data.ts
  src/requests/backend/history/getHistoryEntries.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#135): use CSS to set styles
  src/layouts/History/TranslationsHistory.css
  src/layouts/History/TranslationsHistory.tsx
  src/layouts/Page/Page.css
  src/layouts/Page/Page.tsx
Due: prettier --write, eslint --fix

chore(#135): rename constant
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

refactor(#135): move bookmarks components to file
  src/components/Bookmarks/BookmarksButton.tsx
  src/components/Bookmarks/useTranslateFavorite.ts
  src/layouts/History/TranslationsHistory.tsx
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

refactor(#135): debounce search input value
  package.json
  src/layouts/History/TranslationsHistory.tsx
  src/lib/hooks/useDebouncedInput.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(#135): add confirmation for delete history entries
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/layouts/History/TranslationsHistory.tsx
  src/lib/hooks/useConfirm.ts
  src/lib/hooks/useKeyboardModifiers.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(#135): keep actual status of bookmark button
  src/components/Bookmarks/useTranslateFavorite.ts
  src/requests/backend/translations/addTranslation.ts
  src/requests/backend/translations/clearTranslations.ts
  src/requests/backend/translations/data.ts
  src/requests/backend/translations/deleteTranslation.ts
  src/requests/backend/translations/index.ts
Due: prettier --write, eslint --fix

chore(#135): remove done todos
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

chore(#135): implement ignoreCase option
  src/requests/backend/history/data.ts
Due: prettier --write, eslint --fix

refactor: introduce hook for concurrent TTS
  src/layouts/History/TranslationsHistory.tsx
  src/lib/hooks/useConcurrentTTS.tsx
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

refactor: introduce Translation component
  src/components/Translation/Translation.css
  src/components/Translation/Translation.tsx
  src/layouts/History/TranslationsHistory.tsx
  src/pages/dictionary/layout/DictionaryPage.css
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

refactor: move delete button outside of Translation
  src/components/Translation/Translation.tsx
  src/layouts/History/TranslationsHistory.tsx
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

refactor(#135): set 100 entries per page for history
  src/components/Bookmarks/useTranslateFavorite.ts
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

chore(#135): cleanup code
  src/components/Bookmarks/useTranslateFavorite.ts
  src/components/Translation/Translation.css
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

fix(#135): add cleanup for useKeyboardModifiers
  src/lib/hooks/useKeyboardModifiers.ts
Due: prettier --write, eslint --fix

refactor(#135): use useKeyboardModifiers to track shift
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

chore(#135): improve code style
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

chore(#135): improve code style
  src/layouts/TextTranslator/TextTranslator.tsx
  src/lib/hooks/useConfirm.ts
Due: prettier --write, eslint --fix

chore(#135): introduce isTextsContainsSubstring
  src/lib/hooks/useDebouncedInput.ts
  src/lib/utils.ts
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/requests/backend/history/data.ts
Due: prettier --write, eslint --fix

chore: remove unused design token
  src/themes/presets/default/root.css
  src/themes/tokens/controls.typography.tokens.yml
Due: none

feat(#154): use new bookmark button
  src/components/Bookmarks/BookmarksButton.tsx
  src/components/Bookmarks/useTranslateFavorite.ts
  src/layouts/SelectTranslator/SelectTranslator.css
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/layouts/TextTranslator/TextTranslator.css
  src/layouts/TextTranslator/TextTranslator.tsx
  src/lib/browser/index.ts
  src/requests/backend/translations/index.ts
Due: prettier --write, eslint --fix

chore: add files to stylelintignore
  .stylelintignore
Due: none

refactor(#155): nested structure for dictionary IDB
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/requests/backend/translations/addTranslation.ts
  src/requests/backend/translations/data.ts
  src/requests/backend/translations/findTranslation.ts
  src/types/lib.ts
Due: prettier --write, eslint --fix

fix(#155): use correct keyPath
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix
