Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore(OptionsPage): improve styles
  src/pages/options/layout/OptionSection/OptionSection.css
  src/pages/options/layout/OptionsPage.css
Due: none

2.1.0
  package.json
Due: prettier --write --parser json

refactor(SelectTranslator): implement styles preloading
  src/layouts/SelectTranslator/SelectTranslator.tsx
  src/modules/SelectTranslator.tsx
Due: prettier --write, eslint --fix

refactor(SelectTranslator): improve class structure
  src/modules/SelectTranslator.tsx
Due: prettier --write, eslint --fix

fix(SelectTranslator): switch languages
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

2.1.1
  package.json
Due: prettier --write --parser json

feat(SelectTranslator): implement setting a lang auto detection
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

feat(SelectTranslator): implement option a lang auto detection
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/background.ts
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/modules/SelectTranslator.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(SelectTranslator): supress compiller errors
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

2.1.2
  package.json
Due: prettier --write --parser json

chore(PageTranslator): allow translate same directions
  src/layouts/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix

feat: improve page language detection
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/background.ts
  src/contentscript.tsx
  src/lib/browser.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/requests/contentscript/getPageLanguage.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix(CS): allow translate same language
  src/contentscript.tsx
Due: prettier --write, eslint --fix

chore: remove case rule for commit linter
  .commitlintrc.json
Due: prettier --write --parser json

2.1.3
  package.json
Due: prettier --write --parser json

refactor: rename `StringLiteralType`
  src/lib/types.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix

refactor: improve `sitePreferences` data structure
  src/contentscript.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/requests/backend/sitePreferences/getSitePreferences.ts
  src/requests/backend/sitePreferences/setSitePreferences.ts
  src/requests/backend/sitePreferences/utils.ts
Due: prettier --write, eslint --fix

refactor: use IDB for keep site preferences
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/requests/backend/sitePreferences/setSitePreferences.ts
  src/requests/backend/sitePreferences/utils.ts
Due: prettier --write, eslint --fix

refactor: use IDB for keep auto translated languages
  src/background.ts
  src/contentscript.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/requests/backend/autoTranslatedLangs/addAutoTranslatedLang.ts
  src/requests/backend/autoTranslatedLangs/deleteAutoTranslatedLang.ts
  src/requests/backend/autoTranslatedLangs/getAutoTranslatedLangs.ts
  src/requests/backend/autoTranslatedLangs/hasAutoTranslatedLang.ts
  src/requests/backend/autoTranslatedLangs/setAutoTranslatedLangs.ts
  src/requests/backend/sitePreferences/utils.ts
Due: prettier --write, eslint --fix

refactor: improve `autoTranslation` dir structure
  src/background.ts
  src/contentscript.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/requests/backend/autoTranslation/autoTranslatedLangs/addAutoTranslatedLang.ts
  src/requests/backend/autoTranslation/autoTranslatedLangs/deleteAutoTranslatedLang.ts
  src/requests/backend/autoTranslation/autoTranslatedLangs/hasAutoTranslatedLang.ts
  src/requests/backend/autoTranslation/sitePreferences/getSitePreferences.ts
  src/requests/backend/autoTranslation/sitePreferences/setSitePreferences.ts
  src/requests/backend/autoTranslation/sitePreferences/utils.ts
Due: prettier --write, eslint --fix

refactor: improve code structure in `autoTranslation` dir
  src/requests/backend/autoTranslation/autoTranslatedLangs/addAutoTranslatedLang.ts
  src/requests/backend/autoTranslation/autoTranslatedLangs/deleteAutoTranslatedLang.ts
  src/requests/backend/autoTranslation/autoTranslatedLangs/hasAutoTranslatedLang.ts
  src/requests/backend/autoTranslation/autoTranslatedLangs/utils.ts
  src/requests/backend/autoTranslation/sitePreferences/getSitePreferences.ts
  src/requests/backend/autoTranslation/sitePreferences/setSitePreferences.ts
  src/requests/backend/autoTranslation/sitePreferences/utils.ts
  src/requests/backend/autoTranslation/utils.ts
Due: prettier --write, eslint --fix

feat: add migrations library
  src/background.ts
  src/lib/migrations.ts
Due: prettier --write, eslint --fix

feat: implement migrations use
  src/background.ts
  src/migrations/migrations.ts
  src/migrations/migrationsList.ts
  src/requests/backend/autoTranslation/sitePreferences/migrations.ts
  src/requests/backend/autoTranslation/sitePreferences/setSitePreferences.ts
  src/requests/backend/autoTranslation/sitePreferences/utils.ts
Due: prettier --write, eslint --fix

chore: remove unused imports
  src/background.ts
Due: prettier --write, eslint --fix

feat(PopupWindow): add props to init function
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/pages/popup/layout/PopupWindow.tsx
Due: prettier --write, eslint --fix

refactor(PopupWindow): move init state to init function
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
Due: prettier --write, eslint --fix

refactor(PopupWindow): improve type `TabComponent`
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
  src/pages/popup/layout/PopupWindow.tsx
Due: prettier --write, eslint --fix

feat(PageTranslator): implement UI for detail site preferences
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/background.ts
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/requests/backend/autoTranslation/sitePreferences/deleteSitePreferences.ts
  src/requests/backend/autoTranslation/sitePreferences/utils.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(PageTranslator): implement detail auto translate site preferences
  src/contentscript.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix

feat(PageTranslator): implement auto translate option "default for this language"
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(PageTranslator): make common option "auto translate" as list
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(PageTranslator): implement auto translate by language
  src/background.ts
  src/contentscript.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/requests/backend/autoTranslation/autoTranslatedLangs/addAutoTranslatedLang.ts
  src/requests/backend/autoTranslation/autoTranslatedLangs/hasAutoTranslatedLang.ts
  src/requests/backend/autoTranslation/autoTranslatedLangs/utils.ts
  src/requests/backend/autoTranslation/languagePreferences/addLanguagePreferences.ts
  src/requests/backend/autoTranslation/languagePreferences/deleteLanguagePreferences.ts
  src/requests/backend/autoTranslation/languagePreferences/getLanguagePreferences.ts
  src/requests/backend/autoTranslation/languagePreferences/utils.ts
  src/requests/backend/autoTranslation/sitePreferences/migrations.ts
  src/requests/backend/autoTranslation/utils.ts
  src/requests/backend/getLanguagePreferences.ts
  src/requests/backend/getUserLanguagePreferences.ts
Due: prettier --write, eslint --fix

refactor(PageTranslator): use const for static values
  src/contentscript.tsx
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix

chore(PageTranslator): common improvements
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix

chore(PageTranslator): remove unnecessary checks
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
Due: prettier --write, eslint --fix

chore(PageTranslator): improve names
  src/layouts/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix

chore: fix migrations
  src/migrations/migrationsList.ts
  src/requests/backend/autoTranslation/migrations.ts
  src/requests/backend/autoTranslation/sitePreferences/migrations.ts
Due: prettier --write, eslint --fix

chore: add hook `useStateWithProxy`
  src/lib/hooks/useStateWithProxy.ts
Due: prettier --write, eslint --fix

feat(PageTranslator): add spoiler
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/layouts/PageTranslator/utils/PageTranslationStorage.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add component `Spoiler`
  src/components/Spoiler/Spoiler.bundle/desktop.ts
  src/components/Spoiler/Spoiler.tsx
  src/layouts/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
