Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

5.0.9
  package-lock.json
  package.json
Due: prettier --write --parser json

build: add channel option
  .github/workflows/release.yml
Due: none

5.0.10
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: debug CI
  .github/workflows/release.yml
Due: none

5.0.11
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: update chmod
  .github/workflows/release.yml
Due: none

5.0.12
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: run as root user
  .github/workflows/tests.yml
Due: none

5.0.13
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: run as root user
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

5.0.14
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: update container
  .github/workflows/release.yml
Due: none

5.0.15
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: use sudo
  .github/workflows/release.yml
Due: none

5.0.16
  package-lock.json
  package.json
Due: prettier --write --parser json

vitonsky published a site update
  chromium_updates.xml
Due: none

ci: change owner of build directory
  .github/workflows/release.yml
Due: none

5.0.17
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: add --rm flag
  makefile
Due: none

build: force use amd64 platform for build bergamot
  docker-compose.yml
Due: none

build: unify scripts for macOS
  scripts/testBuildArchives.sh
  scripts/zipAll.sh
Due: none

docs: add note about emulation
  docs/Development.md
Due: prettier --write --parser markdown

feat: use manifest v3
  manifests/chromium.json
  manifests/firefox.json
  manifests/manifest.json
  package.json
  src/background.worker.ts
  src/contentscript.tsx
  src/lib/browser/setAppIcon.ts
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: request permissions of firefox users
  src/app/index.ts
  src/pages/permissions/layout/PermissionsPage.tsx
  src/pages/permissions/permissions.html
  src/pages/permissions/permissions.tsx
  webpack.config.js
Due: prettier --write, eslint --fix

chore: update CSP
  manifests/manifest.json
Due: prettier --write --parser json

chore: fix translations
  src/_locales/gu/messages.json
Due: prettier --write --parser json

feat: run code for chromium
  manifests/manifest.json
  package-lock.json
  package.json
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator/TextTranslator.tsx
  src/app/index.ts
  src/lib/browser/Theme/BrowserThemeInfo.ts
  src/lib/browser/setAppIcon.ts
  src/pages/popup/popup.tsx
  src/requests/utils/requestBuilder/buildBackendRequest.ts
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: use fake worker for bergamot
  manifests/manifest.json
  src/app/index.ts
  src/background.worker.ts
  src/lib/serializer.ts
  src/lib/translators/bergamot/BergamotTranslator.ts
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
  src/offscreen-documents/worker/worker.html
  src/offscreen-documents/worker/worker.ts
  src/offscreen-documents/worker/workerRequests.ts
  src/requests/backend/ping.ts
  src/requests/utils/index.ts
  src/requests/utils/makePing.ts
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: remove unused file
  src/offscreen-documents/worker/workerRequests.ts
Due: prettier --write, eslint --fix

feat: custom translators throw sandboxed iframe
  manifests/manifest.json
  package-lock.json
  package.json
  src/app/index.ts
  src/lib/translators/customTranslators/CustomTranslatorController.ts
  src/lib/translators/customTranslators/loadTranslator.ts
  src/lib/translators/customTranslators/utils.ts
  src/offscreen-documents/main/main.html
  src/offscreen-documents/main/main.ts
  src/offscreen-documents/translator/index.ts
  src/offscreen-documents/translator/translator.html
  src/offscreen-documents/translator/translator.ts
  src/offscreen-documents/worker/worker.html
  src/requests/backend/translators/addTranslator.ts
  src/requests/backend/translators/index.ts
  src/requests/backend/translators/updateTranslator.ts
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: make code work for firefox
  manifests/chromium.json
  manifests/firefox.json
  manifests/manifest.json
  package.json
  src/app/index.ts
  src/background.worker.ts
  src/lib/translators/bergamot/BergamotTranslator.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: custom translators
  manifests/chromium.json
  manifests/firefox.json
  manifests/manifest.json
  src/app/index.ts
  src/lib/browser/setAppIcon.ts
  src/lib/translators/customTranslators/CustomTranslatorController.ts
  src/lib/translators/customTranslators/utils.ts
  src/offscreen-documents/main/main.ts
  src/offscreen-documents/translator/translator.html
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
  src/requests/backend/translators/addTranslator.ts
  src/requests/offscreen/customTranslators/index.ts
  src/requests/types.ts
  src/requests/utils/requestBuilder/buildBackendRequest.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

build: setup dev builds
  makefile
  webpack.config.js
Due: prettier --write, eslint --fix

fix: unify code for all browsers
  manifests/chromium.json
  manifests/firefox.json
  manifests/manifest.json
  src/app/index.ts
  src/offscreen-documents/main/main.ts
  src/requests/offscreen/customTranslators/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: ts errors
  src/offscreen-documents/worker/worker.ts
Due: prettier --write, eslint --fix

chore: update firefox-standalone manifest
  manifests/firefox-standalone.json
Due: prettier --write --parser json

chore: update scripts
  .env.example
  .gitignore
  makefile
  package.json
Due: prettier --write --parser json

chore: delete permissions request page
  src/app/index.ts
  src/pages/permissions/layout/PermissionsPage.tsx
  src/pages/permissions/permissions.html
  src/pages/permissions/permissions.tsx
  webpack.config.js
Due: prettier --write, eslint --fix

chore: remove heart beat
  src/app/index.ts
Due: prettier --write, eslint --fix
