Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

5.0.3
  package-lock.json
  package.json
Due: prettier --write --parser json

vitonsky published a site update
  chromium_updates.xml
Due: none

chore(#4): add descriptions for browsers stores
  assets/stores/README.md
  assets/stores/description.md
Due: prettier --write --parser markdown

chore(#4): format and remove unnecessary text
  assets/stores/description.md
Due: prettier --write --parser markdown

chore(#4): fix typos
  assets/stores/description.md
Due: prettier --write --parser markdown

chore(#4): update stores description
  assets/stores/description/en.md
Due: prettier --write --parser markdown

chore(#4): fix typos
  assets/stores/description/en.md
Due: prettier --write --parser markdown

chore(#4): update screenshots
  README.md
  assets/screen1.png
  assets/screen2.png
  assets/screen3.png
  assets/screenshots/Dictionary.png
  assets/screenshots/FullPageTranslation.png
  assets/screenshots/Preferences.png
  assets/screenshots/SelectedTextTranslation.png
  assets/screenshots/TextTranslation.png
Due: prettier --write --parser markdown

fix(#317): filter not supported languages
  src/app/Background/TranslatorManager/index.ts
Due: prettier --write, eslint --fix

5.0.4
  package-lock.json
  package.json
Due: prettier --write --parser json

ci(#323): build thirdparty and cache it
  .github/workflows/codeql-analysis.yml
Due: none

ci(#323): run build with docker for each merge request
  .github/workflows/codeql-analysis.yml
Due: none

ci(#323): run build for each merge request
  .github/workflows/codeql-analysis.yml
Due: none

fix(#323): add missed message
  src/_locales/cs/messages.json
Due: prettier --write --parser json

ci(#323): make archive to calc hash of sources
  .github/workflows/codeql-analysis.yml
Due: none

chore(#323): try fix messages and report fails
  scripts/locales/utils/syncLocalizations.js
Due: prettier --write, eslint --fix

ci(#323): use cache for third party builds
  .github/workflows/codeql-analysis.yml
Due: none

5.0.5
  package-lock.json
  package.json
Due: prettier --write --parser json

chore(#4): fix typo
  assets/stores/description/en.md
Due: prettier --write --parser markdown

chore(#4): add russian description
  assets/stores/description/ru.md
Due: prettier --write --parser markdown

chore(#4): improve text style
  assets/stores/description/ru.md
Due: prettier --write --parser markdown

chore(#4): add german description
  assets/stores/description/de.md
Due: prettier --write --parser markdown

chore(#4): add europe languages
  assets/stores/description/es.md
  assets/stores/description/fr.md
  assets/stores/description/it.md
Due: prettier --write --parser markdown

chore(#4): add chinese language
  assets/stores/description/zh.md
Due: prettier --write --parser markdown

feat(#4): add GPT translator for MD text
  scripts/ChatGPT.mjs
  scripts/locales/translateDescriptions.js
  scripts/locales/utils/translateDescriptions.js
Due: prettier --write, eslint --fix

docs(#4): improve readme
  README.md
Due: prettier --write --parser markdown

docs(#4): remove roadmap
  README.md
  ROADMAP.md
Due: prettier --write --parser markdown

docs(#4): update readme
  README.md
Due: prettier --write --parser markdown

docs(#4): fix typos and wording
  README.md
Due: prettier --write --parser markdown

docs(#4): add link to Bergamot project
  README.md
Due: prettier --write --parser markdown

docs(#4): update offline translation docs
  docs/manuals/OfflineTranslation.md
Due: prettier --write --parser markdown

docs(#4): update android debug
  docs/AndroidDebug.md
Due: prettier --write --parser markdown

docs(#4): update custom modules
  docs/CustomModules.md
Due: prettier --write --parser markdown

chore: update email in LICENSE
  LICENSE
Due: none

chore(#328): update email in LICENSE
  LICENSE
Due: none

feat: add command to open popup
  manifests/manifest.json
Due: prettier --write --parser json

chore(#350): move translators to other repository
  README.md
  docs/manuals/OfflineTranslation.md
  modules/LibreTranslator.js
  modules/LingvaTranslator.js
  modules/README.md
  modules/TartuNLP.js
  scripts/locales/package-lock.json
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
