Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: proofread source locale
  src/_locales/en/messages.json
Due: prettier --write --parser json

chore: sync reference locales
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
Due: prettier --write --parser json

chore: update locales
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
Due: prettier --write --parser json

chore: update prompt
  packages/locales/utils/prompts.ts
Due: prettier --write, eslint --fix

fix: apply filter to nodes in source object too
  packages/locales/LocalesManager.test.ts
  packages/locales/LocalesManager.ts
Due: prettier --write, eslint --fix

feat: implement errors fixing with dynamic validator
  packages/locales/BasicLLMFetcher.ts
  packages/locales/LLMFetcher.ts
  packages/locales/LLMJsonProcessor.ts
  packages/locales/LLMJsonTranslator.BasicLLMFetcher.integration.test.ts
  packages/locales/LLMJsonTranslator.test.ts
  packages/locales/LLMJsonTranslator.ts
  packages/locales/LocalesManager.test.ts
  packages/locales/__snapshots__/LLMJsonTranslator.BasicLLMFetcher.integration.test.ts.snap
  packages/locales/__tests__/llmFetcher.ts
Due: prettier --write, eslint --fix

feat: add fix prompt to sync command
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

fix: an LLM fixer now mention only leaf nodes
  packages/locales/LLMJsonTranslator.test.ts
  packages/locales/LLMJsonTranslator.ts
  packages/locales/cli/commands/sync.ts
  packages/locales/utils/getObjectsDiff.test.ts
  packages/locales/utils/json.ts
Due: prettier --write, eslint --fix

chore: add new locale
  src/_locales/tk/messages.json
Due: prettier --write --parser json

test: remove only modifier
  packages/locales/utils/getObjectsDiff.test.ts
Due: prettier --write, eslint --fix

feat: introduce hook to fix parsing errors
  packages/locales/LLMJsonProcessor.ts
  packages/locales/LLMJsonTranslator.ts
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

feat: add hooks for success/error handling
  packages/locales/LLMJsonProcessor.ts
  packages/locales/LLMJsonTranslator.ts
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

refactor: remove unused method
  packages/locales/BasicLLMFetcher.ts
Due: prettier --write, eslint --fix

chore: remove debug prints
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

chore: update package with translators
  package-lock.json
  package.json
  site/translateLocales.ts
  src/app/Background/TTS/TTSController.ts
  src/app/Background/TTS/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/TTS/TTSManager/index.ts
  src/app/Background/TTS/TTSManager/ttsLoader.ts
  src/app/Background/TranslatorManager/index.ts
  src/app/Background/index.ts
  src/lib/language.tsx
  src/lib/translators/customTranslators/CustomTranslatorController.ts
  src/lib/translators/customTranslators/loadTranslator.ts
  src/offscreen-documents/translator/translator.ts
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/requests/backend/translate.ts
  src/requests/backend/translators/index.ts
  src/requests/contentscript/pageTranslation/enableTranslatePage.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add Microsoft translator and make it default
  src/app/Background/index.ts
  src/config/index.ts
Due: prettier --write, eslint --fix

test: update snapshots
  src/app/ConfigStorage/__test__/__snapshots__/ConfigStorage.test.ts.snap
Due: none

chore: update dev packages
  package-lock.json
  package.json
  src/app/Background/TTS/TTSStorage.ts
  src/app/Background/TranslatorsCacheStorage/TranslatorsCacheStorage.migrations.ts
  src/app/Background/TranslatorsCacheStorage/index.ts
  src/lib/idb/manager.ts
  src/requests/backend/autoTranslation/utils.ts
  src/requests/backend/bergamot/data.ts
  src/requests/backend/history/data.ts
  src/requests/backend/translations/data.ts
  src/requests/backend/translations/idb/schema/v1.ts
  src/requests/backend/translations/idb/schema/v2.ts
  src/requests/backend/translations/translations.test.ts
  src/requests/backend/translators/data.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update test deps
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: update eslint
  .eslintignore
  .eslintrc
  .prettierignore
  eslint.config.mjs
  package-lock.json
  package.json
  words.txt
Due: prettier --write --parser json

chore: update stylelint config
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: temporary disable eslint rules with conflicts
  eslint.config.mjs
  tsconfig.json
  words.txt
Due: prettier --write --parser json

chore: add lint script
  .stylelintrc
  package.json
Due: prettier --write --parser json

ci: run linter
  .github/workflows/tests.yml
Due: none

chore: organize eslint config
  eslint.config.mjs
Due: none

chore: update linters
  .prettierignore
  .stylelintignore
  eslint.config.mjs
  words.txt
Due: none

ci: update site build job
  .github/workflows/site.yml
Due: none

test: exclude node modules in nested dirs
  vitest.config.ts
Due: prettier --write, eslint --fix

ci: update hooks and permissions
  .github/workflows/release.yml
  .github/workflows/site.yml
  .github/workflows/tests.yml
Due: none

fix: webpack build
  src/requests/utils/requestBuilder/buildTabRequest.ts
  tsconfig.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

ci: trigger only by push in master
  .github/workflows/site.yml
  .github/workflows/tests.yml
Due: none

chore: run audit fix
  package-lock.json
Due: prettier --write --parser json

chore: update translators package for site
  package-lock.json
  packages/site/package.json
Due: prettier --write --parser json

chore: remove google-tts-api
  package-lock.json
  package.json
  packages/site/package.json
  src/requests/backend/tts/getTTS.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
