Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: update plausible package
  package-lock.json
  packages/site/package.json
  packages/site/src/components/Analytics/AnalyticsProvider.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

docs: update images paths in readme
  README.md
Due: prettier --write --parser markdown

docs: update images paths in readme (#565)
  README.md
Due: prettier --write --parser markdown

fix: render container out of layout flow
  src/lib/ShadowDOMContainerManager.tsx
Due: prettier --write, eslint --fix

fix(#529): use relative coordinates to a root node
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
Due: prettier --write, eslint --fix

fix(#395): wait response of content script
  src/app/ContextMenus/TranslatePageContextMenu.ts
  src/lib/time.ts
Due: prettier --write, eslint --fix

chore: update debug print
  webpack.config.js
Due: prettier --write, eslint --fix

395 context menu item translate page is sometimes not displayed (#567)
  src/app/ContextMenus/TranslatePageContextMenu.ts
  src/lib/time.ts
  webpack.config.js
Due: prettier --write, eslint --fix

7.0.0
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: a MicrosoftTranslator token lifetime
  package-lock.json
  package.json
Due: prettier --write --parser json

7.0.1
  package-lock.json
  package.json
Due: prettier --write --parser json

Release version 7.0.1 (#568)
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: consider scroll
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
Due: prettier --write, eslint --fix

7.0.2
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: update gitignore file
  .gitignore
Due: none

chore: update favicon
  packages/site/static/favicon.ico
  packages/site/static/favicon.svg
Due: none

chore: remove unused icon
  packages/site/docusaurus.config.ts
Due: prettier --write, eslint --fix

chore: add script to compile favicon
  package-lock.json
  packages/site/package.json
Due: prettier --write --parser json

Update logo for site (#572)
  .gitignore
  package-lock.json
  packages/site/docusaurus.config.ts
  packages/site/package.json
  packages/site/static/favicon.ico
  packages/site/static/favicon.svg
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: Incorrect coordinates for floating button (#570)
  package-lock.json
  package.json
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

vitonsky published a site update
  404.html
  assets/js/main.7933578f.js
  assets/js/main.7933578f.js.LICENSE.txt
  assets/js/main.c9c5cda2.js
  blog/archive/index.html
  blog/authors/index.html
  blog/index.html
  blog/release/6.0.0/index.html
  blog/tags/index.html
  blog/tags/release/index.html
  docs/AndroidDebug/index.html
  docs/CustomModules/index.html
  docs/CustomTTS/index.html
  docs/CustomTranslator/index.html
  docs/Development/index.html
  docs/index.html
  docs/manuals/OfflineTranslation/index.html
  docs/modules/tts/index.html
  favicon.ico
  favicon.svg
  index.html
Due: prettier --write, eslint --fix

build: update filename template
  webpack.config.js
Due: prettier --write, eslint --fix

fix: Offline translation does not work in new version (#579)
  webpack.config.js
Due: prettier --write, eslint --fix

fix: update package domtranslator to fixed version
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: Uncaught Error when automatically translating new content (#580)
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: throw error immediately for unsupported langauge codes
  src/requests/backend/translate.ts
Due: prettier --write, eslint --fix

fix: throw error immediately for unsupported langauge codes (#581)
  src/requests/backend/translate.ts
Due: prettier --write, eslint --fix

7.0.3
  package-lock.json
  package.json
Due: prettier --write --parser json

Release 7.0.3 (#582)
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: update translators package
  package-lock.json
  package.json
Due: prettier --write --parser json

7.0.4
  package-lock.json
  package.json
Due: prettier --write --parser json

docs: update build instructions
  docs/Development.md
Due: prettier --write --parser markdown

fix: default translator does not work if network blink while token fetching (#586)
  docs/Development.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

vitonsky published a site update
  404.html
  assets/js/3764068e.15289d10.js
  assets/js/3764068e.f5bfc787.js
  assets/js/runtime~main.b349a920.js
  assets/js/runtime~main.bc2a1369.js
  blog/archive/index.html
  blog/authors/index.html
  blog/index.html
  blog/release/6.0.0/index.html
  blog/tags/index.html
  blog/tags/release/index.html
  docs/AndroidDebug/index.html
  docs/CustomModules/index.html
  docs/CustomTTS/index.html
  docs/CustomTranslator/index.html
  docs/Development/index.html
  docs/index.html
  docs/manuals/OfflineTranslation/index.html
  docs/modules/tts/index.html
  index.html
Due: prettier --write, eslint --fix

chore: add blog post about custom translators
  packages/site/blog/2025/09/04/custom-translator-editor.png
  packages/site/blog/2025/09/04/custom-translators-list.png
  packages/site/blog/2025/09/04/settings.png
  packages/site/blog/2025/09/04/user-modules.md
Due: prettier --write --parser markdown

chore: update email in authors list
  packages/site/blog/authors.yml
Due: none

chore: move blog post
  packages/site/blog/2025/09/04/user-modules/custom-translator-editor.png
  packages/site/blog/2025/09/04/user-modules/custom-translators-list.png
  packages/site/blog/2025/09/04/user-modules/index.md
  packages/site/blog/2025/09/04/user-modules/settings.png
Due: prettier --write --parser markdown

chore: proofread post
  packages/site/blog/2025/09/04/user-modules/index.md
Due: prettier --write --parser markdown

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
