Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

feat: implement TTS for dictionary
  src/pages/dictionary/layout/DictionaryPage.css
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

refactor(getTTS): serialize data as base64 strings
  src/lib/blob.ts
  src/requests/backend/getTTS.ts
Due: prettier --write, eslint --fix

feat(SelectTranslator): implement TTS
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

2.2.9
  package.json
Due: prettier --write --parser json

chore(getTTS): improve clarity
  src/lib/blob.ts
  src/requests/backend/getTTS.ts
Due: prettier --write, eslint --fix

feat: implement show original text PoC logic
  src/modules/NodesTranslator.ts
Due: prettier --write, eslint --fix

chore(NodesTranslator): add popup
  src/lib/ShadowDOMContainerManager.tsx
  src/modules/NodesTranslator.tsx
Due: prettier --write, eslint --fix

chore(NodesTranslator): add option for show original text
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/config.ts
  src/modules/NodesTranslator.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(NodesTranslator): move popup to component
  src/layouts/OriginalTextPopup/OriginalTextPopup.css
  src/layouts/OriginalTextPopup/OriginalTextPopup.tsx
  src/modules/NodesTranslator.tsx
Due: prettier --write, eslint --fix

chore: add style linter
  .lintstagedrc
  .stylelintrc
  package.json
Due: prettier --write --parser json

chore(NodesTranslator): fix options for release
  src/config.ts
  src/layouts/OriginalTextPopup/OriginalTextPopup.tsx
Due: prettier --write, eslint --fix

2.2.10
  package.json
Due: prettier --write --parser json

refactor(SelectTranslator): use `ShadowDOMContainerManager`
  src/modules/SelectTranslator.tsx
Due: prettier --write, eslint --fix

feat: implement PoC language suggestions for text
  src/components/Icon/Icon.assets/Material/auto_fix_high.svg
  src/components/Icon/Icon.assets/Material/auto_fix_normal.svg
  src/components/Icon/Icon.bundle/desktop.ts
  src/components/Icon/_glyph/Icon_glyph_autofix.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

refactor: add `getLanguageNameByCode`
  src/components/LanguagePanel/LanguagePanel.tsx
  src/layouts/PageTranslator/PageTranslator.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
  src/lib/language.ts
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix

fix(TextTranslator): clear lang suggestion for empty text
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

chore(TextTranslator): use i18n
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(TextTranslator): use class for lang suggestion
  src/layouts/TextTranslator/TextTranslator.css
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

chore: update browserslist
  .browserslistrc
Due: none

chore(TextTranslator): use requests for detect lang
  src/background.ts
  src/layouts/TextTranslator/TextTranslator.tsx
  src/requests/backend/suggestLanguage.ts
Due: prettier --write, eslint --fix

chore: update webpack for work with browserlist
  webpack.config.js
Due: prettier --write, eslint --fix

chore(TextTranslator): use optional lang suggestion
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/config.ts
  src/layouts/TextTranslator/TextTranslator.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix(TextTranslator): prevent translate on init phase
  src/layouts/TextTranslator/TextTranslator.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
Due: prettier --write, eslint --fix

2.2.11
  package.json
Due: prettier --write --parser json

chore(TextTranslator): fix deps
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

feat(TextTranslator): add option for control suggestions
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/config.ts
  src/layouts/TextTranslator/TextTranslator.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

2.2.12
  package.json
Due: prettier --write --parser json

fix(TextTranslator): clear suggestion while change language
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

2.2.13
  package.json
Due: prettier --write --parser json

fix: chrome CORB error
  package.json
Due: prettier --write --parser json

2.2.14
  package.json
Due: prettier --write --parser json

build: use static dir to serve static icons
  manifests/manifest.json
  package.json
  src/pages/dictionary/dictionary.html
  src/pages/options/options.html
  src/res/README.md
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

Update release.yml
  .github/workflows/release.yml
Due: none

2.2.15
  package.json
Due: prettier --write --parser json

2.2.16
  package.json
Due: prettier --write --parser json

2.2.17
  package.json
Due: prettier --write --parser json

build: add script for generate update manifest for chromium
  scripts/genCrxUpdateManifest.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
