Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

docs: update the docs (#609)
  docs/CustomModules.md
  docs/CustomTTS.md
  docs/CustomTranslator.md
  docs/Development.md
  docs/Introduction.md
  docs/api/custom-module.md
  docs/api/translator.md
  docs/api/tts.md
  docs/dev/AndroidDebug.md
  docs/dev/Development.md
  docs/guides/OfflineTranslation.md
  docs/manuals/OfflineTranslation.md
  packages/site/docusaurus.config.ts
  packages/site/sidebars.ts
  packages/site/src/features/Landing/Landing.tsx
  packages/site/src/features/Landing/logo.svg
  packages/site/static/logo.svg
Due: prettier --write, eslint --fix, prettier --write --parser markdown

docs: fix screenshots
  README.md
Due: prettier --write --parser markdown

docs: update readme
  README.md
Due: prettier --write --parser markdown

docs: screenshots is missing in readme (#610)
  README.md
Due: prettier --write --parser markdown

fix: use fallback translator by default
  package-lock.json
  package.json
  src/app/Background/index.ts
  src/config/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update config migrations
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/__snapshots__/ConfigStorage.test.ts.snap
Due: prettier --write, eslint --fix

feat: track telemetry
  src/app/Background/requestHandlers.ts
  src/app/ContentScript/PageTranslator/PageTranslatorController.ts
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
  src/app/index.ts
  src/lib/telemetry/EventTrackerController.ts
  src/lib/telemetry/RybbitTracker.ts
  src/lib/telemetry/index.ts
  src/lib/telemetry/singleton.ts
  src/pages/options/layout/OptionsPage.tsx
  src/pages/popup/layout/PopupWindow.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
  src/requests/backend/telemetry.ts
Due: prettier --write, eslint --fix

chore: track errors
  src/app/Background/TranslatorManager/index.ts
  src/app/Background/index.ts
  src/lib/telemetry/index.ts
Due: prettier --write, eslint --fix

chore: track screen views
  src/lib/telemetry/index.ts
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/history/layout/HistoryPage.tsx
  src/pages/options/layout/OptionsPage.tsx
Due: prettier --write, eslint --fix

chore: update event names
  src/app/Background/TranslatorManager/index.ts
  src/app/Background/index.ts
  src/app/ContentScript/PageTranslator/PageTranslatorController.ts
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
  src/app/index.ts
  src/lib/telemetry/index.ts
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

fix: do not repeat special props
  src/lib/telemetry/RybbitTracker.ts
Due: prettier --write, eslint --fix

chore: add guard to migration
  src/app/ConfigStorage/ConfigStorage.migrations.ts
Due: prettier --write, eslint --fix

chore: props order
  src/lib/telemetry/EventTrackerController.ts
Due: prettier --write, eslint --fix

feat: better track for translation events
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator/TextTranslator.tsx
  src/lib/telemetry/index.ts
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

chore: update words
  words.txt
Due: none

chore: return void instead of promise
  src/lib/telemetry/EventTrackerController.ts
Due: prettier --write, eslint --fix

chore: send basic environment info
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator/TextTranslator.tsx
  src/app/index.ts
  src/lib/telemetry/index.ts
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

chore: update typescript
  package-lock.json
  package.json
  src/custom.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: track dictionary items
  src/components/controls/DictionaryButton/useDictionary.ts
  src/lib/telemetry/index.ts
  src/requests/backend/telemetry.ts
Due: prettier --write, eslint --fix

chore: track TTS use
  src/lib/hooks/useTTS.ts
  src/lib/telemetry/index.ts
Due: prettier --write, eslint --fix

chore: track dictionary props
  src/components/controls/DictionaryButton/useDictionary.ts
Due: prettier --write, eslint --fix

chore: control events
  src/lib/hooks/useTTS.ts
Due: prettier --write, eslint --fix

chore: fix eslint problems
  src/app/ContentScript/SelectTranslator/SelectTranslator.tsx
  src/components/primitives/Select/Select.registry/desktop.ts
  src/components/primitives/Spoiler/Spoiler.tsx
  src/offscreen-documents/translator/translator.ts
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
  src/pages/popup/tabs/PageTranslator/PageTranslator@tab.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/pages/popup/tabs/TextTranslator/TextTranslator@tab.tsx
  src/requests/offscreen/customTranslators/index.ts
  src/requests/utils/requestBuilder/buildBackendRequest.ts
Due: prettier --write, eslint --fix

7.1.0
  package-lock.json
  package.json
Due: prettier --write --parser json

build: update makefile
  makefile
Due: none

docs: update the docs
  docs/dev/Development.md
Due: prettier --write --parser markdown

build: update make usage
  .github/workflows/tests.yml
Due: none

ci: don't run on review
  .github/workflows/site.yml
  .github/workflows/tests.yml
Due: none

ci: use buildAll target
  .github/workflows/tests.yml
Due: none

docs: update development docs
  docs/dev/Development.md
Due: prettier --write --parser markdown

build: rebuild docker image for every build
  makefile
Due: none

build: exclude thirdparty dir of docker build context
  .dockerignore
  docker-compose.yml
Due: none

docs: update docs how to build (#617)
  .dockerignore
  .github/workflows/site.yml
  .github/workflows/tests.yml
  docker-compose.yml
  docs/dev/Development.md
  makefile
Due: prettier --write --parser markdown

build: force build docker container
  makefile
Due: none

build: update node in docker images
  Dockerfile
  thirdparty/bergamot/Dockerfile
Due: none

build: node version is deprecated in bergamot docker image (#619)
  Dockerfile
  makefile
  thirdparty/bergamot/Dockerfile
Due: none

chore: update firefox manifest
  manifests/firefox.json
Due: prettier --write --parser json

build: update web-ext linter
  package-lock.json
  package.json
Due: prettier --write --parser json
