Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

refactor(#83): move all context menus to a classes
  src/app/ContextMenus/TranslateSelectionContextMenu.ts
  src/app/index.ts
  src/constants.ts
  src/lib/browser/toggleTranslateItemInContextMenu.ts
Due: prettier --write, eslint --fix

chore(#83): improve naming
  src/app/ContentScript/PageTranslator/requests/pageTranslatorStateUpdated.ts
Due: prettier --write, eslint --fix

refactor(#83): move actions to a method
  src/app/ContextMenus/TranslatePageContextMenu.ts
Due: prettier --write, eslint --fix

refactor(#83): specify viewTypes
  src/app/ContextMenus/TranslatePageContextMenu.ts
Due: prettier --write, eslint --fix

fix(#83): specify viewTypes for all context menus
  src/app/ContextMenus/TranslateSelectionContextMenu.ts
Due: prettier --write, eslint --fix

chore(#83): improve code style
  src/app/index.ts
Due: prettier --write, eslint --fix

feat(#198): sort languages to show last used on top
  src/app/Background/requestHandlers.ts
  src/components/controls/LanguagePanel/LanguagePanel.tsx
  src/requests/backend/popularLanguages/getPopularLanguages.ts
  src/requests/backend/popularLanguages/index.ts
  src/requests/backend/popularLanguages/pickLanguage.ts
Due: prettier --write, eslint --fix

chore(#198): memoize options
  src/components/controls/LanguagePanel/LanguagePanel.tsx
Due: prettier --write, eslint --fix

refactor(#198): use index ar rate
  src/components/controls/LanguagePanel/LanguagePanel.tsx
  src/requests/backend/popularLanguages/index.ts
Due: prettier --write, eslint --fix

refactor(#198): improve naming
  src/app/Background/requestHandlers.ts
  src/components/controls/LanguagePanel/LanguagePanel.tsx
  src/requests/backend/popularLanguages/pickLanguage.ts
  src/requests/backend/recentUsedLanguages/addRecentUsedLanguage.ts
  src/requests/backend/recentUsedLanguages/getRecentUsedLanguages.ts
  src/requests/backend/recentUsedLanguages/index.ts
Due: prettier --write, eslint --fix

chore(#198): keep 5 last used languages
  src/requests/backend/recentUsedLanguages/index.ts
Due: prettier --write, eslint --fix

refactor(#198): improve naming
  src/components/controls/LanguagePanel/LanguagePanel.tsx
Due: prettier --write, eslint --fix

refactor(#217): introduce class for TTS
  src/requests/backend/getTTS.ts
Due: prettier --write, eslint --fix

feat(#217): add option about TTS module
  src/config.ts
  src/requests/backend/getTTS.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix

chore(#217): add migration and fix tests
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/ConfigStorage/__test__/config-v4.json
  test/setupFiles/webextension.js
Due: prettier --write, eslint --fix, prettier --write --parser json

fix(#224): use viewTypes only for firefox
  src/app/ContextMenus/TranslatePageContextMenu.ts
  src/app/ContextMenus/TranslateSelectionContextMenu.ts
  src/lib/browser/tabs.ts
Due: prettier --write, eslint --fix

feat(#224): toggle translation on current page
  src/app/ContextMenus/TranslatePageContextMenu.ts
Due: prettier --write, eslint --fix

refactor(#217): move TTS speakers to a file
  src/lib/tts/speakers.ts
  src/requests/backend/getTTS.ts
Due: prettier --write, eslint --fix

refactor(#217): introduce TTS manager
  src/app/Background/TTSManager/index.ts
  src/app/Background/index.ts
  src/requests/backend/getTTS.ts
Due: prettier --write, eslint --fix

chore(#217): implement storage for custom TTS
  src/app/Background/TTSManager/TTSStorage.ts
  src/app/Background/TTSManager/index.ts
  src/app/Background/TTSManager/utils.ts
  src/lib/tts/speakers.ts
  src/requests/backend/getTTS.ts
Due: prettier --write, eslint --fix

test(#217): add tests for TTS manager
  src/app/Background/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/TTSManager/__tests__/audio-sample-uint-array.json
  test/setupFiles/webextension.js
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#217): encapsulate id mapping logic
  src/app/Background/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/TTSManager/index.ts
Due: prettier --write, eslint --fix

refactor(#217): get speaker by id
  src/app/Background/TTSManager/TTSStorage.ts
  src/app/Background/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/TTSManager/index.ts
  src/requests/backend/getTTS.ts
Due: prettier --write, eslint --fix

chore(#217): add update method
  src/app/Background/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/TTSManager/index.ts
Due: prettier --write, eslint --fix

feat(#217): add option to a config page
  src/app/Background/requestHandlers.ts
  src/lib/hooks/useTTS.ts
  src/pages/options/layout/OptionsPage.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/requests/backend/tts/getSpeakers.ts
  src/requests/backend/tts/getTTS.ts
  src/requests/backend/tts/index.ts
Due: prettier --write, eslint --fix

feat(#217): implement TTS editor
  src/app/Background/TTSManager/index.ts
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.css
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorEditor/TranslatorEditor.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
  src/pages/options/layout/OptionsPage.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/requests/backend/tts/addCustomSpeaker.ts
  src/requests/backend/tts/deleteCustomSpeaker.ts
  src/requests/backend/tts/getCustomSpeakers.ts
  src/requests/backend/tts/index.ts
  src/requests/backend/tts/updateCustomSpeaker.ts
Due: prettier --write, eslint --fix

refactor(#217): rename Editor
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/_locales/vi/messages.json
  src/_locales/zh/messages.json
  src/pages/options/layout/OptionsPage.components/Editor/Editor.css
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorEditor/TranslatorEditor.css
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.css
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#217): rename TTSList entities
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.css
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
Due: prettier --write, eslint --fix

refactor(#217): sort code to simplify reading
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.css
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
Due: prettier --write, eslint --fix

refactor(#217): use empty data by default
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
Due: prettier --write, eslint --fix

chore(#217): add i18n texts
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/pages/options/layout/OptionsPage.components/TTSList/TTSList.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#217): add i18n texts
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/app/Background/TTSManager/index.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#217): rename TTS methods
  src/app/Background/TTSManager/__tests__/TTSManager.test.ts
  src/lib/tts/speakers.ts
  src/requests/backend/tts/getTTS.ts
Due: prettier --write, eslint --fix

refactor(#217): add optional preferences to TTS method
  src/lib/tts/speakers.ts
Due: prettier --write, eslint --fix

refactor(#217): move TTS to a packages
  package.json
  src/app/Background/TTSManager/__tests__/TTSManager.test.ts
  src/app/Background/TTSManager/index.ts
  src/app/Background/TTSManager/utils.ts
  src/requests/backend/tts/getTTS.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

test(#217): fix description
  src/app/Background/TTSManager/__tests__/TTSManager.test.ts
Due: prettier --write, eslint --fix

feat(#217): disable TTS button for unsupported langs
  src/app/ContentScript/SelectTranslator/components/TextTranslatorPopup/TextTranslator.tsx
  src/lib/hooks/useTTSLanguages.ts
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
  src/requests/backend/tts/getTTSLanguages.ts
  src/requests/backend/tts/index.ts
Due: prettier --write, eslint --fix

docs(#232): add custom translators implementations
  docs/CustomTranslator.md
  docs/manuals/OfflineTranslation.md
  modules/LibreTranslator.js
  modules/LingvaTranslator.js
  modules/README.md
  modules/TartuNLP.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown

ci(#232): exclude custom modules from eslint scan
  .eslintignore
Due: none

docs(#232): fix readme
  README.md
Due: prettier --write --parser markdown

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
