Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

Blog post: custom translators (#587)
  packages/site/blog/2025/09/04/user-modules/custom-translator-editor.png
  packages/site/blog/2025/09/04/user-modules/custom-translators-list.png
  packages/site/blog/2025/09/04/user-modules/index.md
  packages/site/blog/2025/09/04/user-modules/settings.png
  packages/site/blog/authors.yml
Due: prettier --write --parser markdown

update Russian localization for consistency and clarity
  packages/site/src/components/Landing/locales/ru.json
Due: prettier --write --parser json

vitonsky published a site update
  404.html
  assets/js/3827.a4d278da.js
  assets/js/3827.dea65da8.js
  assets/js/runtime~main.3b3dca7a.js
  assets/js/runtime~main.5637739b.js
  blog/2025/09/04/user-modules/index.html
  blog/archive/index.html
  blog/authors/index.html
  blog/index.html
  blog/release/6.0.0/index.html
  blog/tags/feature/index.html
  blog/tags/index.html
  blog/tags/release/index.html
  docs/AndroidDebug/index.html
  docs/CustomModules/index.html
  docs/CustomTTS/index.html
  docs/CustomTranslator/index.html
  docs/Development/index.html
  docs/index.html
  docs/manuals/OfflineTranslation/index.html
  docs/modules/tts/index.html
  index.html
Due: prettier --write, eslint --fix

chore: changes from formatting on save
  .github/actions/init/action.yml
Due: none

fix: usage of `node12 which is deprecated`
  .github/actions/init/action.yml
Due: none

ci: use node v20 (#521)
  .github/actions/init/action.yml
Due: none

vitonsky published a site update
  404.html
  assets/js/main.5c807cbf.js
  assets/js/main.5c807cbf.js.LICENSE.txt
  assets/js/main.be2bd766.js
  blog/2025/09/04/user-modules/index.html
  blog/archive/index.html
  blog/authors/index.html
  blog/index.html
  blog/release/6.0.0/index.html
  blog/tags/feature/index.html
  blog/tags/index.html
  blog/tags/release/index.html
  docs/AndroidDebug/index.html
  docs/CustomModules/index.html
  docs/CustomTTS/index.html
  docs/CustomTranslator/index.html
  docs/Development/index.html
  docs/index.html
  docs/manuals/OfflineTranslation/index.html
  docs/modules/tts/index.html
  index.html
Due: prettier --write, eslint --fix

refactor: create pages for specific languages
  package-lock.json
  packages/site/docusaurus.config.ts
  packages/site/package.json
  packages/site/src/components/PageLayout/PageLayout.tsx
  packages/site/src/components/i18n.ts
  packages/site/src/features/Landing/index.tsx
  packages/site/src/i18n/LocalesController.ts
  packages/site/src/i18n/index.ts
  packages/site/src/i18n/locales/en/landing.json
  packages/site/src/i18n/locales/ru/landing.json
  packages/site/src/plugins/i18n-pages.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add links to alt languages
  packages/site/src/components/Landing/Landing.tsx
  packages/site/src/components/useAltPageVersions.ts
  packages/site/src/features/Landing/index.tsx
  packages/site/src/i18n/LocalesController.ts
  packages/site/src/i18n/index.ts
  packages/site/src/i18n/utils.ts
  packages/site/src/plugins/i18n-pages.ts
Due: prettier --write, eslint --fix

chore: update source text
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: watch localization files for changes
  packages/site/src/plugins/i18n-pages.ts
Due: prettier --write, eslint --fix

chore: allow wbr tag
  packages/site/src/i18n/index.ts
Due: prettier --write, eslint --fix

style: improve landing style
  packages/site/src/components/Landing/Landing.module.css
  packages/site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

feat: improve tagline and title
  packages/site/docusaurus.config.ts
  packages/site/src/features/Landing/index.tsx
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: use correct tags
  packages/site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

feat: invert direction of every 2nd feature row
  packages/site/src/components/Landing/Landing.module.css
  packages/site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

feat: improve landing texts
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: delete locale files
  packages/site/src/components/Landing/locales/ar.json
  packages/site/src/components/Landing/locales/bn.json
  packages/site/src/components/Landing/locales/de.json
  packages/site/src/components/Landing/locales/en.json
  packages/site/src/components/Landing/locales/es.json
  packages/site/src/components/Landing/locales/fr.json
  packages/site/src/components/Landing/locales/gu.json
  packages/site/src/components/Landing/locales/hi.json
  packages/site/src/components/Landing/locales/it.json
  packages/site/src/components/Landing/locales/ja.json
  packages/site/src/components/Landing/locales/jv.json
  packages/site/src/components/Landing/locales/ko.json
  packages/site/src/components/Landing/locales/mr.json
  packages/site/src/components/Landing/locales/pa.json
  packages/site/src/components/Landing/locales/pt.json
  packages/site/src/components/Landing/locales/ru.json
  packages/site/src/components/Landing/locales/ta.json
  packages/site/src/components/Landing/locales/te.json
  packages/site/src/components/Landing/locales/tr.json
  packages/site/src/components/Landing/locales/ur.json
  packages/site/src/components/Landing/locales/vi.json
  packages/site/src/components/Landing/locales/zh.json
Due: prettier --write --parser json

chore: update docusaurus config
  packages/site/docusaurus.config.ts
Due: prettier --write, eslint --fix

chore: add sitemap
  packages/site/src/features/Landing/index.tsx
  packages/site/static/robots.txt
Due: prettier --write, eslint --fix

feat: build alt links via site origin
  packages/site/src/plugins/i18n-pages.ts
Due: prettier --write, eslint --fix

feat: add alt versions meta tags
  packages/site/src/features/Landing/index.tsx
Due: prettier --write, eslint --fix

feat: add faq section
  packages/site/src/components/Landing/Landing.tsx
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: improve why Linguist section
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: mention both built-in translators and extensions
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: mention a paywalls
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: mention ridiculous cases
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: sort faq
  packages/site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

feat: explain the logo
  packages/site/src/components/Landing/Landing.tsx
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: update logo
  packages/site/src/components/Landing/Landing.tsx
  packages/site/src/components/Landing/logo.svg
  packages/site/static/logo.svg
Due: prettier --write, eslint --fix

feat: localize text via transmart
  packages/site/.env.example
  packages/site/.gitignore
  packages/site/compose.yml
  packages/site/docker/transmart/Dockerfile
  packages/site/package.json
  packages/site/src/i18n/locales/ru/landing.json
  packages/site/supportedLanguages.ts
  packages/site/translateLocales.ts
  packages/site/transmart.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: tune landing texts
  packages/site/docusaurus.config.ts
  packages/site/src/components/Landing/Landing.tsx
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add images translation section
  packages/site/src/components/Landing/Landing.tsx
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update words
  words.txt
Due: none

chore: run docker via user from .env
  packages/site/.env.example
  packages/site/compose.yml
Due: none

chore: translate via qwen/qwen3.5-35b-a3b
  packages/site/src/i18n/locales/ru/landing.json
Due: prettier --write --parser json

chore: use google/gemini-3.1-pro-preview
  packages/site/src/i18n/locales/ru/landing.json
  packages/site/transmart.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: use lang attribute on html
  packages/site/src/components/Landing/Landing.tsx
  packages/site/src/features/Landing/index.tsx
Due: prettier --write, eslint --fix

chore: translate locales
  packages/site/src/i18n/locales/ar/landing.json
  packages/site/src/i18n/locales/bn/landing.json
  packages/site/src/i18n/locales/de/landing.json
  packages/site/src/i18n/locales/es/landing.json
  packages/site/src/i18n/locales/fr/landing.json
  packages/site/src/i18n/locales/gu/landing.json
  packages/site/src/i18n/locales/hi/landing.json
  packages/site/src/i18n/locales/it/landing.json
  packages/site/src/i18n/locales/ja/landing.json
  packages/site/src/i18n/locales/jv/landing.json
  packages/site/src/i18n/locales/ko/landing.json
  packages/site/src/i18n/locales/mr/landing.json
  packages/site/src/i18n/locales/pa/landing.json
  packages/site/src/i18n/locales/pt/landing.json
  packages/site/src/i18n/locales/ta/landing.json
  packages/site/src/i18n/locales/tr/landing.json
  packages/site/src/i18n/locales/ur/landing.json
  packages/site/src/i18n/locales/vi/landing.json
  packages/site/src/i18n/locales/zh/landing.json
  packages/site/transmart.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
