Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

Add Chinese translation to new branch locale_zh
  src/_locales/zh/messages.json
Due: prettier --write --parser json

Fix and optimize langCode
  src/_locales/zh/messages.json
Due: prettier --write --parser json

feat: Add Chinese to localizations (#115)
  src/_locales/zh/messages.json
Due: prettier --write --parser json

Create messages.json
  src/_locales/vi/messages.json
Due: prettier --write --parser json

feat(#120): add Vietnamese language
  src/_locales/vi/messages.json
Due: prettier --write --parser json

fix(#123): re-attach ShadowDOM node to page
  src/lib/ShadowDOMContainerManager.tsx
Due: prettier --write, eslint --fix

chore(#123): remove debug print
  src/lib/ShadowDOMContainerManager.tsx
Due: prettier --write, eslint --fix

fix: update translators lib to fix GoogleTranslator
  package.json
Due: prettier --write --parser json

refactor(#126): use YandexTranslator by default
  src/config.ts
Due: prettier --write, eslint --fix

4.0.2
  package.json
Due: prettier --write --parser json

chore: update packages
  package.json
Due: prettier --write --parser json

chore: fix types for new TS version
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

Revert "4.0.2"
  package.json
Due: prettier --write --parser json

vitonsky published a site update
  chromium_updates.xml
Due: none

fix(#128): mark option tag as non-intersectable
  src/modules/NodesTranslator.tsx
Due: prettier --write, eslint --fix

refactor: improve node priority score calculation
  src/modules/NodesTranslator.tsx
Due: prettier --write, eslint --fix

4.0.3
  package.json
Due: prettier --write --parser json

Update messages.json
  src/_locales/ru/messages.json
Due: prettier --write --parser json

Update messages.json
  src/_locales/en/messages.json
Due: prettier --write --parser json

chore(#131): make texts consistent
  src/_locales/en/messages.json
Due: prettier --write --parser json

refactor(#116): change popup markup
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

refactor(#116): improve styles
  src/layouts/SelectTranslator/SelectTranslator.css
Due: none

refactor(#116): use 2 TTS instance
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/lib/hooks/useTTS.ts
Due: prettier --write, eslint --fix

style(#116): update details view
  src/layouts/SelectTranslator/SelectTranslator.css
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

style(#116): group selectors
  src/layouts/SelectTranslator/SelectTranslator.css
Due: none

docs(#116): add comments
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

feat: implement translations history storage PoC
  src/requests/backend/history/addTranslationHistoryEntry.ts
  src/requests/backend/history/clearTranslationHistory.ts
  src/requests/backend/history/data.ts
  src/requests/backend/history/deleteTranslationHistoryEntry.ts
  src/requests/backend/history/getHistoryEntries.ts
Due: prettier --write, eslint --fix

chore: remove unnecessary index
  src/requests/backend/history/data.ts
Due: prettier --write, eslint --fix

refactor(#135): improve types
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/requests/backend/history/addTranslationHistoryEntry.ts
  src/requests/backend/history/data.ts
  src/requests/backend/history/getHistoryEntries.ts
  src/requests/backend/translations/addTranslation.ts
  src/requests/backend/translations/data.ts
  src/requests/backend/translations/findTranslation.ts
  src/requests/backend/translations/getTranslations.ts
  src/types/translation/Translation.ts
Due: prettier --write, eslint --fix

chore: send translations to history
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
  src/requests/backend/history/constants.ts
Due: prettier --write, eslint --fix

chore(#135): apply request handlers
  src/background.ts
  src/requests/backend/history/addTranslationHistoryEntry.ts
  src/requests/backend/history/index.ts
  src/requests/utils/requestBuilder/buildBackendRequest.ts
Due: prettier --write, eslint --fix

refactor(#135): introduce component TranslationEntry
  src/pages/dictionary/layout/DictionaryPage.css
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

refactor(#135): introduce hook useConcurrentTTS
  src/pages/dictionary/layout/DictionaryPage.tsx
Due: prettier --write, eslint --fix

chore(#135): add history page prototype
  src/layouts/History/TranslationsHistory.tsx
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/history/history.html
  src/pages/history/history.tsx
  src/pages/history/layout/HistoryPage.tsx
  webpack.config.js
Due: prettier --write, eslint --fix

chore(#135): add controls on history page
  src/components/Icon/Icon.assets/Material/bookmark.svg
  src/components/Icon/Icon.assets/Material/bookmark_border.svg
  src/components/Icon/Icon.bundle/desktop.ts
  src/components/Icon/_glyph/Icon_glyph_bookmark-border.tsx
  src/components/Icon/_glyph/Icon_glyph_bookmark.tsx
  src/layouts/History/TranslationsHistory.css
  src/layouts/History/TranslationsHistory.tsx
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/pages/history/layout/HistoryPage.css
  src/pages/history/layout/HistoryPage.tsx
Due: prettier --write, eslint --fix

feat(#135): implement controls to clear history
  src/layouts/History/TranslationsHistory.css
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix

feat(135): use i18n texts
  src/_locales/en/messages.json
  src/layouts/History/TranslationsHistory.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(135): add i18n ru texts
  src/_locales/ru/messages.json
Due: prettier --write --parser json
