Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

chore: remove jest
  jest.config.js
  package-lock.json
  package.json
  test/jest-transform-txt.js
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: avoid command injection
  packages/locales/utils/git.ts
Due: prettier --write, eslint --fix

chore: rename options
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

chore: add back pressure timeouts
  packages/locales/LLMJsonProcessor.ts
  packages/locales/utils/time.ts
Due: prettier --write, eslint --fix

feat: implement creation of new localization files
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

docs: update locales package readme
  packages/locales/README.md
  packages/locales/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

ci: debug - remove test that fall CI
  packages/locales/LLMTranslator.test.ts
Due: prettier --write, eslint --fix

Revert "ci: debug - remove test that fall CI"
  packages/locales/LLMTranslator.test.ts
Due: prettier --write, eslint --fix

fix: exit loop by retry limit
  packages/locales/LLMJsonProcessor.ts
  packages/locales/LLMTranslator.test.ts
Due: prettier --write, eslint --fix

chore: update packages
  package-lock.json
  package.json
  packages/locales/package.json
Due: prettier --write --parser json

test: update path to scripts dir
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: remove gitignore
  packages/locales/.gitignore
Due: none

refactor: update entities names
  packages/locales/LLMJsonTranslator.BasicLLMFetcher.integration.test.ts
  packages/locales/LLMJsonTranslator.test.ts
  packages/locales/LLMJsonTranslator.ts
  packages/locales/LocalesManager.test.ts
  packages/locales/LocalesManager.ts
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

test: update snapshots
  packages/locales/__snapshots__/LLMJsonTranslator.BasicLLMFetcher.integration.test.ts.snap
Due: none

chore: proofread source messages
  src/_locales/en/messages.json
  src/pages/history/layout/TranslationsHistory/TranslationsHistory.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update sample locale
  packages/locales/__snapshots__/LLMJsonTranslator.BasicLLMFetcher.integration.test.ts.snap
  packages/locales/sample.json
Due: prettier --write --parser json

feat: implement skip for segments of locale object
  package-lock.json
  packages/locales/LocalesManager.test.ts
  packages/locales/LocalesManager.ts
  packages/locales/package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: implement post processing for locales
  packages/locales/cli/commands/sync.ts
  packages/locales/utils/localeObject.ts
Due: prettier --write, eslint --fix

test: add expectation for cal LLM
  packages/locales/LocalesManager.test.ts
Due: prettier --write, eslint --fix

feat: introduce option to skip errors
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

refactor: rename locale key
  src/_locales/en/messages.json
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: implement filtering for object nodes on transformer level
  packages/locales/LLMJsonProcessor.ts
  packages/locales/cli/commands/proofread.ts
  packages/locales/utils/splitObjectByFilter.ts
Due: prettier --write, eslint --fix

perf: fast search for ignored paths
  packages/locales/LocalesManager.ts
Due: prettier --write, eslint --fix

chore: add locales
  src/_locales/kk/messages.json
  src/_locales/ky/messages.json
  src/_locales/mn/messages.json
  src/_locales/tg/messages.json
  src/_locales/tt/messages.json
  src/_locales/ug/messages.json
Due: prettier --write --parser json

chore: use links to site for docs
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix

chore: use links in localization
  src/_locales/en/messages.json
Due: prettier --write --parser json

chore: add space between lines on options page
  src/pages/options/layout/OptionSection/OptionSection.css
Due: none

chore: tune prompts
  packages/locales/cli/commands/proofread.ts
  packages/locales/utils/prompts.ts
Due: prettier --write, eslint --fix

fix: proofread and update locales
  src/_locales/en/messages.json
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/pages/popup/tabs/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: proofread source locale
  src/_locales/en/messages.json
Due: prettier --write --parser json

chore: update source locale
  src/_locales/en/messages.json
  src/pages/popup/tabs/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: tune prompts
  packages/locales/cli/commands/proofread.ts
  packages/locales/cli/commands/sync.ts
  packages/locales/utils/prompts.ts
Due: prettier --write, eslint --fix

chore: update source locale
  src/_locales/en/messages.json
Due: prettier --write --parser json

chore: update translated reference locale
  src/_locales/ru/messages.json
Due: prettier --write --parser json

chore: update locale
  src/_locales/en/messages.json
  src/pages/options/layout/OptionsPage.components/Editor/Editor.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update locale
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
Due: prettier --write --parser json
