Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

fix(site): provide t object to Trans
  site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: proofread text
  site/src/components/Landing/locales/en.json
Due: prettier --write --parser json

vitonsky published a site update
  404.html
  CNAME
  assets/js/1df93b7f.b2d25416.js
  assets/js/1df93b7f.fea993d2.js
  assets/js/446.a921c9a8.js
  assets/js/71.79e133dc.js
  assets/js/main.44cd1935.js
  assets/js/main.c1832aa0.js
  assets/js/main.c1832aa0.js.LICENSE.txt
  assets/js/runtime~main.554cc6e1.js
  assets/js/runtime~main.c1db68e4.js
  index.html
Due: prettier --write, eslint --fix

feat: implement language picker and detection
  site/package-lock.json
  site/package.json
  site/src/components/Landing/Landing.tsx
  site/src/components/Landing/locales/es.json
  site/src/components/i18n.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(site): add script for translate locales
  site/package-lock.json
  site/package.json
  site/src/components/Landing/Landing.tsx
  site/supportedLanguages.ts
  site/translateLocales.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(site): add translated locales
  site/src/components/Landing/locales/de.json
  site/src/components/Landing/locales/es.json
  site/src/components/Landing/locales/fr.json
  site/src/components/Landing/locales/it.json
  site/src/components/Landing/locales/ja.json
  site/src/components/Landing/locales/ru.json
  site/src/components/Landing/locales/zh.json
Due: prettier --write --parser json

feat(site): add cache for generated languages
  site/.gitignore
  site/translateLocales.ts
Due: prettier --write, eslint --fix

Create CNAME
  CNAME
Due: none

feat(site): add languages
  site/src/components/Landing/locales/ar.json
  site/src/components/Landing/locales/bn.json
  site/src/components/Landing/locales/gu.json
  site/src/components/Landing/locales/hi.json
  site/src/components/Landing/locales/jv.json
  site/src/components/Landing/locales/ko.json
  site/src/components/Landing/locales/mr.json
  site/src/components/Landing/locales/pa.json
  site/src/components/Landing/locales/pt.json
  site/src/components/Landing/locales/ta.json
  site/src/components/Landing/locales/te.json
  site/src/components/Landing/locales/tr.json
  site/src/components/Landing/locales/ur.json
  site/src/components/Landing/locales/vi.json
  site/supportedLanguages.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

vitonsky published a site update
  404.html
  CNAME
  assets/js/165.1bec0b44.js
  assets/js/178.224deb65.js
  assets/js/192.dfe17d3f.js
  assets/js/1df93b7f.00119f85.js
  assets/js/1df93b7f.b2d25416.js
  assets/js/220.2703b663.js
  assets/js/269.594658ad.js
  assets/js/363.6a285ce7.js
  assets/js/446.a921c9a8.js
  assets/js/481.23082360.js
  assets/js/493.1c65ca90.js
  assets/js/515.0bb50fb0.js
  assets/js/541.6ee61f15.js
  assets/js/548.b325cb7a.js
  assets/js/554.f919f3c4.js
  assets/js/574.f3bc57c8.js
  assets/js/582.4d18fb50.js
  assets/js/585.fa9d2a05.js
  assets/js/665.24b431fc.js
  assets/js/737.f442ec97.js
  assets/js/767.4c88fd94.js
  assets/js/773.4695cc6d.js
  assets/js/827.130f59e3.js
  assets/js/933.fcd089a1.js
  assets/js/946.f0308ff6.js
  assets/js/954.71c2705c.js
  assets/js/main.7b6cf29c.js
  assets/js/main.7b6cf29c.js.LICENSE.txt
  assets/js/main.c1832aa0.js
  assets/js/runtime~main.c1db68e4.js
  assets/js/runtime~main.e3972aa1.js
  index.html
Due: prettier --write, eslint --fix

fix(site): add CNAME file
  site/static/CNAME
Due: none

vitonsky published a site update
  CNAME
Due: none

fix(site): preload default language
  site/src/components/i18n.ts
Due: prettier --write, eslint --fix

ci: debug site
  .github/workflows/site.yml
Due: none

vitonsky published a site update
  404.html
  assets/js/1df93b7f.00119f85.js
  assets/js/1df93b7f.93dbfecd.js
  assets/js/737.f442ec97.js
  assets/js/runtime~main.ced815ea.js
  assets/js/runtime~main.e3972aa1.js
  index.html
Due: prettier --write, eslint --fix

Revert "ci: debug site"
  .github/workflows/site.yml
Due: none

refactor(site): move analytics to root component
  site/src/components/Analytics/AnalyticsProvider.tsx
  site/src/components/PageLayout/PageLayout.tsx
  site/src/theme/Root.tsx
Due: prettier --write, eslint --fix

refactor(site): move analytics script to body
  site/src/components/Analytics/AnalyticsProvider.tsx
Due: prettier --write, eslint --fix

feat(site): add blog
  site/blog/authors.yml
  site/docusaurus.config.ts
Due: prettier --write, eslint --fix

chore(site): add release post
  site/blog/release/6.0.0.md
  site/blog/release/page-translation.png
Due: prettier --write --parser markdown

chore(site): add link to blog
  site/src/components/Landing/Landing.tsx
  site/src/components/Landing/locales/en.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(site): configure theme
  site/docusaurus.config.ts
  site/static/logo.svg
Due: prettier --write, eslint --fix

chore: update locales
  site/src/components/Landing/locales/ar.json
  site/src/components/Landing/locales/bn.json
  site/src/components/Landing/locales/de.json
  site/src/components/Landing/locales/es.json
  site/src/components/Landing/locales/fr.json
  site/src/components/Landing/locales/gu.json
  site/src/components/Landing/locales/hi.json
  site/src/components/Landing/locales/it.json
  site/src/components/Landing/locales/ja.json
  site/src/components/Landing/locales/jv.json
  site/src/components/Landing/locales/ko.json
  site/src/components/Landing/locales/mr.json
  site/src/components/Landing/locales/pa.json
  site/src/components/Landing/locales/pt.json
  site/src/components/Landing/locales/ru.json
  site/src/components/Landing/locales/ta.json
  site/src/components/Landing/locales/te.json
  site/src/components/Landing/locales/tr.json
  site/src/components/Landing/locales/ur.json
  site/src/components/Landing/locales/vi.json
  site/src/components/Landing/locales/zh.json
Due: prettier --write --parser json

chore(site): update post
  site/blog/release/6.0.0.md
Due: prettier --write --parser markdown

chore(site): add favicon.ico
  site/docusaurus.config.ts
  site/static/favicon.ico
Due: prettier --write, eslint --fix

chore(site): remove image
  site/blog/release/6.0.0.md
  site/blog/release/page-translation.png
Due: prettier --write --parser markdown

feat(site): add docs section
  docs/Introduction.md
  site/docusaurus.config.ts
  site/src/components/Landing/Landing.tsx
  site/src/components/Landing/locales/en.json
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore(site): update locales
  site/src/components/Landing/locales/ar.json
  site/src/components/Landing/locales/bn.json
  site/src/components/Landing/locales/de.json
  site/src/components/Landing/locales/es.json
  site/src/components/Landing/locales/fr.json
  site/src/components/Landing/locales/gu.json
  site/src/components/Landing/locales/hi.json
  site/src/components/Landing/locales/it.json
  site/src/components/Landing/locales/ja.json
  site/src/components/Landing/locales/jv.json
  site/src/components/Landing/locales/ko.json
  site/src/components/Landing/locales/mr.json
  site/src/components/Landing/locales/pa.json
  site/src/components/Landing/locales/pt.json
  site/src/components/Landing/locales/ru.json
  site/src/components/Landing/locales/ta.json
  site/src/components/Landing/locales/te.json
  site/src/components/Landing/locales/tr.json
  site/src/components/Landing/locales/ur.json
  site/src/components/Landing/locales/vi.json
  site/src/components/Landing/locales/zh.json
Due: prettier --write --parser json

fix(site): incorrect link in markdown
  docs/CustomTranslator.md
Due: prettier --write --parser markdown

docs: update donations section
  README.md
Due: prettier --write --parser markdown

docs: delete support section
  README.md
Due: prettier --write --parser markdown

docs: fix typos
  README.md
Due: prettier --write --parser markdown

docs: add tron address for donation
  README.md
Due: prettier --write --parser markdown

docs: update screenshots
  README.md
Due: prettier --write --parser markdown

chore: remove unused screenshots
  assets/screenshots/Dictionary.png
  assets/screenshots/FullPageTranslation.png
  assets/screenshots/Preferences.png
  assets/screenshots/SelectedTextTranslation.png
  assets/screenshots/TextTranslation.png
Due: none

chore: changes from formatting on save
  .github/actions/init/action.yml
Due: none

fix: usage of `node12 which is deprecated`
  .github/actions/init/action.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
