Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

fix(#161): clear DB reference after close
  src/modules/Background/TranslatorsCacheStorage.ts
Due: prettier --write, eslint --fix

ci(#169): add tests in pipeline
  .github/workflows/codeql-analysis.yml
Due: none

ci(#169): add cache for actions
  .github/workflows/codeql-analysis.yml
Due: none

fix(#169): types for new TS compiler
  src/lib/idb/manager.ts
Due: prettier --write, eslint --fix

fix(#169): disable cache
  .github/workflows/codeql-analysis.yml
Due: none

build: update deps
  package.json
  src/components/Button/Button.bundle/desktop.ts
  src/components/Button/Button.tsx
  src/components/Button/_content/Button_content_icon.tsx
  src/components/Select/Select.bundle/desktop.ts
  src/components/Select/Select.registry/desktop.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

ci(#169): run tests for build pipeline
  .github/workflows/release.yml
Due: none

refactor(#176): make `PopupWindowStorage` non static
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
  src/pages/popup/popup.tsx
  src/types/utils.ts
Due: prettier --write, eslint --fix

refactor(#176): remove static members of ConfigStorage
  src/modules/ConfigStorage/ConfigStorage.ts
Due: prettier --write, eslint --fix

refactor(#176): remove static members of TextTranslatorStorage
  src/background.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.test.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/layouts/TextTranslator/TextTranslator@tab.tsx
Due: prettier --write, eslint --fix

refactor(#176): remove static members of PageTranslationStorage
  src/layouts/PageTranslator/PageTranslator.utils/PageTranslationStorage.ts
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

refactor(#176): move VersionedStorage interface to a file
  src/layouts/PageTranslator/PageTranslator.utils/PageTranslationStorage.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/migrations/migrationsList.ts
  src/modules/Background/TranslatorsCacheStorage.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
  src/types/VersionedStorage.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix

refactor(#176): simplify PopupWindowStorage
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
Due: prettier --write, eslint --fix

refactor(#176): use structure coded PopupWindowStorage
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
Due: prettier --write, eslint --fix

refactor(#176): introduce data migrations
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/migrations/migrations.ts
  src/migrations/migrationsList.ts
  src/modules/Background/TranslatorsCacheStorage.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
  src/requests/backend/autoTranslation/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): remove null as migration version
  src/modules/Background/TranslatorsCacheStorage.ts
Due: prettier --write, eslint --fix

refactor(#176): run migrations only for users have legacy data
  src/migrations/migrationsList.ts
Due: prettier --write, eslint --fix

refactor(#176): remove unnecessary interfaces
  src/layouts/PageTranslator/PageTranslator.utils/PageTranslationStorage.ts
  src/types/VersionedStorage.ts
Due: prettier --write, eslint --fix

test(#176): use new migrations object
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.test.ts
Due: prettier --write, eslint --fix

feat(#176): implement tool to run migrations
  src/migrations/migrations.test.ts
  src/migrations/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): use migrations library for config
  src/modules/ConfigStorage/ConfigStorage.ts
Due: prettier --write, eslint --fix

test(#181): add tests for config migrations
  src/modules/ConfigStorage/__test__/ConfigStorage.test.ts
  src/modules/ConfigStorage/__test__/config-v1.json
  src/modules/ConfigStorage/__test__/config-v2.json
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#176): move config migrations to a file
  src/migrations/migrationsList.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/modules/ConfigStorage/__test__/ConfigStorage.test.ts
  src/modules/ConfigStorage/migrations.ts
Due: prettier --write, eslint --fix

refactor(#181): use migrations library for TextTranslator
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.test.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/layouts/TextTranslator/TextTranslator.utils/migrations.ts
  src/migrations/migrationsList.ts
Due: prettier --write, eslint --fix

refactor(#176): improve TextTranslator migrations
  src/layouts/TextTranslator/TextTranslator.utils/migrations.ts
Due: prettier --write, eslint --fix

test(#176): update TextTranslator migrations
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.test.ts
  src/layouts/TextTranslator/TextTranslator.utils/__test__/TextTranslatorData-v1.sample.json
  src/layouts/TextTranslator/TextTranslator.utils/__test__/TextTranslatorData-v2.sample.json
  src/layouts/TextTranslator/TextTranslator.utils/__test__/TextTranslatorStorage.test.ts
  src/layouts/TextTranslator/TextTranslator.utils/migrations.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

test(#176): update ConfigStorage migrations
  src/modules/ConfigStorage/__test__/ConfigStorage.test.ts
  src/modules/ConfigStorage/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): build migration task instead of callback
  src/layouts/TextTranslator/TextTranslator.utils/migrations.ts
  src/migrations/migrations.test.ts
  src/migrations/migrations.ts
  src/modules/ConfigStorage/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): update ConfigStorage migration versions
  src/modules/ConfigStorage/__test__/ConfigStorage.test.ts
  src/modules/ConfigStorage/__test__/config-v3.json
  src/modules/ConfigStorage/migrations.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#176): update TextTranslatorStorage migration versions
  src/layouts/TextTranslator/TextTranslator.utils/__test__/TextTranslatorStorage.test.ts
  src/layouts/TextTranslator/TextTranslator.utils/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): update autoTranslation migration
  src/requests/backend/autoTranslation/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): update TranslatorsCache migration
  src/migrations/migrationsList.ts
  src/modules/Background/TranslatorsCacheStorage.ts
  src/modules/Background/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): update PopupWindow migrations
  src/migrations/migrationsList.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
  src/pages/popup/layout/PopupWindow.utils/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): add migrations for migrations
  src/migrations/migrations.ts
  src/migrations/migrationsList.ts
Due: prettier --write, eslint --fix

refactor(#176): split migration by files
  src/migrations/migrateData/data.migrations.ts
  src/migrations/migrateData/data.ts
  src/migrations/migrateData/migrateData.ts
  src/migrations/migrations.ts
  src/migrations/migrationsList.ts
Due: prettier --write, eslint --fix

docs(#176): add docs to migrations primitives
  src/layouts/TextTranslator/TextTranslator.utils/migrations.ts
  src/migrations/migrateData/migrateData.ts
  src/migrations/migrations.test.ts
  src/migrations/migrations.ts
  src/migrations/migrationsList.ts
  src/modules/ConfigStorage/migrations.ts
Due: prettier --write, eslint --fix

refactor(#176): rename migrations files by template
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.migrations.ts
  src/layouts/TextTranslator/TextTranslator.utils/__test__/TextTranslatorStorage.test.ts
  src/migrations/migrationsList.ts
  src/modules/Background/TranslatorsCacheStorage.migrations.ts
  src/modules/ConfigStorage/ConfigStorage.migrations.ts
  src/modules/ConfigStorage/__test__/ConfigStorage.test.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.migrations.ts
  src/requests/backend/autoTranslation/autoTranslation.migrations.ts
Due: prettier --write, eslint --fix

test(#176): tests for migrations persistence
  src/migrations/migrateData/appMigrations.test.ts
Due: prettier --write, eslint --fix

fix(#176): migrations persistance storage
  src/migrations/migrateData/data.ts
Due: prettier --write, eslint --fix

refactor(#181): rewrite to classes
  src/migrations/MigrationsExecutor/MigrationsStorage.migrations.ts
  src/migrations/MigrationsExecutor/MigrationsStorage.ts
  src/migrations/MigrationsExecutor/PersistentMigrationsExecutor.ts
  src/migrations/MigrationsExecutor/appMigrations.test.ts
  src/migrations/migrateData/data.ts
  src/migrations/migrateData/migrateData.ts
  src/migrations/migrationsList.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
