Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

refactor(Background): move clear cache to requests
  src/background.ts
  src/modules/Background/index.ts
  src/pages/options/layout/OptionsPage.tsx
  src/requests/backend/clearCache.ts
  src/requests/backend/translators/deleteTranslator.ts
Due: prettier --write, eslint --fix

fix(Options): set loaded to state after all other
  src/pages/options/layout/OptionsPage.components/TranslatorEditor/TranslatorEditor.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
  src/pages/options/layout/OptionsPage.tsx
Due: prettier --write, eslint --fix

chore(Options): add view parameter to button in options tree builder
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/pages/options/layout/OptionsTree/OptionsTree.tsx
Due: prettier --write, eslint --fix

chore: move text to i18n messages
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/pages/options/layout/OptionsPage.components/TranslatorEditor/TranslatorEditor.tsx
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add validator of selected translator to config request handler
  src/requests/backend/updateConfig.ts
Due: prettier --write, eslint --fix

docs: add info about custom translators
  docs/CustomTranslator.md
Due: prettier --write --parser markdown

chore: add block with information about custom translators
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.css
  src/pages/options/layout/OptionsPage.components/TranslatorsManager/TranslatorsManager.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

fix(SelectTranslator): #99 make scrollbar thin
  src/layouts/SelectTranslator/SelectTranslator.css
Due: none

fix(SelectTranslator): #95 don't show popup for empty text
  src/modules/SelectTranslator.tsx
Due: prettier --write, eslint --fix

fix(SelectTranslator): translate selected text of inputs with context menu
  src/modules/SelectTranslator.tsx
Due: prettier --write, eslint --fix

fix(SelectTranslator): #93 improve mobile view
  src/layouts/SelectTranslator/SelectTranslator.css
  src/layouts/SelectTranslator/SelectTranslator.tsx
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

chore(SelectTranslator): fix codestyle
  src/layouts/SelectTranslator/SelectTranslator.tsx
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
Due: prettier --write, eslint --fix

chore(SelectTranslator): trim text
  src/layouts/SelectTranslator/SelectTranslator.css
  src/modules/SelectTranslator.tsx
Due: prettier --write, eslint --fix

build: enable web-ext linter for builds
  package.json
  scripts/testBuildArchives.sh
Due: prettier --write --parser json

4.0.0
  package.json
Due: prettier --write --parser json

vitonsky published a site update
  chromium_updates.xml
Due: none

Update README.md
  README.md
Due: prettier --write --parser markdown

Update zipAll.sh
  scripts/zipAll.sh
Due: none

Update testBuildArchives.sh
  scripts/testBuildArchives.sh
Due: none

Update messages.json
  src/_locales/en/messages.json
Due: prettier --write --parser json

Update AndroidDebug.md
  docs/AndroidDebug.md
Due: prettier --write --parser markdown

Update CustomTranslator.md
  docs/CustomTranslator.md
Due: prettier --write --parser markdown

Some small improvements I missed
  README.md
Due: prettier --write --parser markdown

Update ROADMAP.md
  ROADMAP.md
Due: prettier --write --parser markdown

Change "Registration sensitivity" to "Case insensitive"
  src/_locales/en/messages.json
Due: prettier --write --parser json

fix(#103): delay before appear translate button
  .stylelintrc
  src/modules/SelectTranslator.tsx
Due: prettier --write, eslint --fix

chore: update roadmap
  ROADMAP.md
Due: prettier --write --parser markdown

build: add script to build XPI files for release
  .github/workflows/release.yml
Due: none

build: insert inline id to build XPI
  .github/workflows/release.yml
Due: none

4.0.1
  package.json
Due: prettier --write --parser json

build: rename chrome build
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

docs: add development docs
  docs/Development.md
Due: prettier --write --parser markdown

chore: fix stylelint
  .stylelintignore
  .stylelintrc
  package.json
  src/components/Loader/Loader.css
  src/components/TabsMenu/Tab/TabsMenu-Tab.css
  src/polyfills/scrollfix/scrollfix.css
Due: prettier --write --parser json

chore: build theme tokens
  .stylelintignore
  src/themes/presets/default/color.css
  src/themes/presets/default/root.css
Due: none

docs: update readme
  README.md
Due: prettier --write --parser markdown

fix(#110): use correct language names according to ISO 639-1
  src/_locales/en/messages.json
Due: prettier --write --parser json

fix(#110): fix russian languages names
  src/_locales/ru/messages.json
Due: prettier --write --parser json

fix(#110): fix typo in english languages
  src/_locales/en/messages.json
Due: prettier --write --parser json
