Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

chore: add github files
  .editorconfig
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update README.md
  src/browser_addon/README.md
Due: prettier --write --parser markdown

chore: add executable flag for husky scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: fix size of text translator in popup
  src/browser_addon/layouts/TextTranslator/TextTranslator.css
Due: none

chore: set text align for SelectTranslator
  src/browser_addon/layouts/SelectTranslator/SelectTranslator.css
Due: none

fix: types for getPageLanguage
  src/browser_addon/lib/types.ts
  src/browser_addon/requests/contentscript/getPageLanguage.ts
Due: prettier --write, eslint --fix

fix: detect language for auto translate
  src/browser_addon/contentscript.tsx
  src/browser_addon/lib/language.ts
  src/browser_addon/requests/contentscript/getPageLanguage.ts
Due: prettier --write, eslint --fix

fix: positioning SelectTranslator
  src/browser_addon/layouts/SelectTranslator/SelectTranslator.tsx
  src/browser_addon/layouts/SelectTranslator/SelectTranslator.utils/fixPosToPreventOverflow.ts
Due: prettier --write, eslint --fix

chore: add spellcheck for TextTranslator
  src/browser_addon/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

refactor: improve config struct and migration
  src/browser_addon/background.ts
  src/browser_addon/modules/ConfigStorage/ConfigStorage.ts
Due: prettier --write, eslint --fix

feat: add spellcheck feature for text translate
  src/browser_addon/_locales/en/messages.json
  src/browser_addon/_locales/ru/messages.json
  src/browser_addon/background.ts
  src/browser_addon/layouts/TextTranslator/TextTranslator.tsx
  src/browser_addon/layouts/TextTranslator/TextTranslator@tab.tsx
  src/browser_addon/modules/ConfigStorage/ConfigStorage.ts
  src/browser_addon/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/browser_addon/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update version
  src/browser_addon/manifest.chromium.json
  src/browser_addon/manifest.firefox.json
Due: prettier --write --parser json

refactor: use @translate-tools/core package
  src/browser_addon/modules/Background.ts
  src/browser_addon/package.json
  src/browser_addon/pages/dictionary/layout/DictionaryPage.tsx
  src/browser_addon/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/browser_addon/requests/backend/getTranslatorModules.ts
  src/browser_addon/types/objects.ts
  src/browser_addon/types/runtime.ts
  src/core/README.md
  src/core/TranslateScheduler/ITranslateScheduler.ts
  src/core/TranslateScheduler/TranslateScheduler.ts
  src/core/TranslateScheduler/TranslateSchedulerWithCache/TranslateSchedulerWithCache.ts
  src/core/TranslateScheduler/TranslateSchedulerWithCache/TranslatorCache.ts
  src/core/TranslateScheduler/TranslateSchedulerWithCache/index.ts
  src/core/lib/Multiplexor.ts
  src/core/lib/QueueSemafor.ts
  src/core/package.json
  src/core/translators/FakeTranslator.ts
  src/core/translators/GoogleTranslator/index.ts
  src/core/translators/GoogleTranslator/token.d.ts
  src/core/translators/GoogleTranslator/token.js
  src/core/translators/README.md
  src/core/translators/YandexTranslator/getYandexSID.ts
  src/core/translators/YandexTranslator/index.ts
  src/core/translators/unstable/BingTranslatorPublic/getConfig.ts
  src/core/translators/unstable/BingTranslatorPublic/index.ts
  src/core/translators/unstable/README.md
  src/core/translators/unstable/ReversoTranslator.ts
  src/core/types/Translator.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: fix files after refactor
  .gitignore
  src/.gitignore
  src/themes/presets/default/color.css
  src/themes/presets/default/root.css
  themekit.config.json
Due: prettier --write --parser json

chore: update husky
  .husky/.gitignore
  package.json
Due: prettier --write --parser json

docs: update readme
  .vscode/settings.json
  README.md
  assets/chrome.png
  assets/edge.png
  assets/firefox.png
  assets/screen1.png
  assets/screen2.png
  assets/screen3.png
Due: prettier --write --parser markdown, prettier --write --parser json

chore: update .gitignore
  .gitignore
  .vscode/settings.json
  build/firefox/_locales/en/messages.json
  build/firefox/_locales/ru/messages.json
  build/firefox/background.css
  build/firefox/background.js
  build/firefox/common.css
  build/firefox/common.js
  build/firefox/common.js.LICENSE.txt
  build/firefox/contentscript.css
  build/firefox/contentscript.js
  build/firefox/manifest.json
  build/firefox/pages/dictionary/dictionary.css
  build/firefox/pages/dictionary/dictionary.html
  build/firefox/pages/dictionary/dictionary.js
  build/firefox/pages/dictionary/dictionary.js.LICENSE.txt
  build/firefox/pages/options/options.css
  build/firefox/pages/options/options.html
  build/firefox/pages/options/options.js
  build/firefox/pages/popup/popup.css
  build/firefox/pages/popup/popup.html
  build/firefox/pages/popup/popup.js
  build/firefox/res/logo-base.svg
  build/firefox/res/logo-icon-simple.svg
  build/firefox/res/logo-icon.svg
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update locales
  src/_locales/ru/messages.json
Due: prettier --write --parser json

fix(TextTranslator): lose text with swap langs
  src/components/LanguagePanel/LanguagePanel.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
Due: prettier --write, eslint --fix

refactor(TextTranslator): common fixes
  src/layouts/TextTranslator/TextTranslator.tsx
  src/layouts/TextTranslator/TextTranslator@tab.tsx
Due: prettier --write, eslint --fix

build: improve manifest manipulation
  manifest.firefox.json
  manifests/manifest.json
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add release script
  package.json
Due: prettier --write --parser json

2.0.2
  package.json
Due: prettier --write --parser json

docs: update readme
  README.md
Due: prettier --write --parser markdown

Create release.yml
  .github/workflows/release.yml
Due: none

build: add scripts for build
  package.json
  scripts/zipAll.sh
Due: prettier --write --parser json

2.0.3
  package.json
Due: prettier --write --parser json

build: add build for chrome
  package.json
Due: prettier --write --parser json

2.0.4
  package.json
Due: prettier --write --parser json

chore: remove comments from release script
  .github/workflows/release.yml
Due: none

build(zipAll): improve description
  scripts/zipAll.sh
Due: none

build: fix making archive
  scripts/zipAll.sh
Due: none

2.0.5
  package.json
Due: prettier --write --parser json

build: add tests for builds
  package.json
  scripts/testBuildArchives.sh
  scripts/zipAll.sh
Due: prettier --write --parser json

2.0.6
  package.json
Due: prettier --write --parser json

feat(SelectTranslator): implement option `showOnceForSelection`
  src/modules/SelectTranslator.tsx
Due: prettier --write, eslint --fix

feat: implement `selectTranslation.showOnceForSelection` option
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/background.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix!: replace option `modifers` to `modifiers`
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/background.ts
  src/modules/SelectTranslator.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: implement `selectTranslation.showOriginalText` option
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/background.ts
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/modules/SelectTranslator.tsx
  src/pages/options/layout/OptionsPage.utils/generateTree.ts
  src/types/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --parser json
