Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

ci: create build dir
  package.json
Due: prettier --write --parser json

ci: split commands
  package.json
Due: prettier --write --parser json

ci: wrap command to bash
  .github/workflows/release.yml
Due: none

ci: remove exit code
  .github/workflows/release.yml
Due: none

ci: await end of commands
  package.json
Due: prettier --write --parser json

ci: ls after build
  .github/workflows/release.yml
  package.json
Due: prettier --write --parser json

ci: remove sleep
  package.json
Due: prettier --write --parser json

ci: do not copy bergamot files
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

ci: check build dir after end
  .github/workflows/release.yml
Due: none

ci: do not create build dir manually
  package.json
Due: prettier --write --parser json

ci: do not use lock file
  package-lock.json
Due: prettier --write --parser json

Revert "ci: do not use lock file"
  package-lock.json
Due: prettier --write --parser json

ci: do not covert images with chromium
  .github/workflows/release.yml
  scripts/zipAll.sh
  webpack.config.js
Due: prettier --write, eslint --fix

ci: enable images converter
  webpack.config.js
Due: prettier --write, eslint --fix

ci: fix shell name
  scripts/testBuildArchives.sh
Due: none

ci: use docker to compile
  .github/workflows/release.yml
  Dockerfile
Due: none

ci: use not interactive docker
  .github/workflows/release.yml
Due: none

ci: use current uid for container
  .github/workflows/release.yml
Due: none

build: setup docker to build bergamot
  thirdparty/bergamot/.dockerignore
  thirdparty/bergamot/Dockerfile
  thirdparty/bergamot/makefile
  thirdparty/bergamot/package-lock.json
  thirdparty/bergamot/package.json
Due: prettier --write --parser json

build: configure makefile for docker
  makefile
Due: none

ci: use docker to build all targets
  .github/workflows/release.yml
Due: none

ci: fix current directory path
  makefile
Due: none

ci: update dockerfile
  .dockerignore
  .github/workflows/release.yml
  Dockerfile
  makefile
  thirdparty/bergamot/Dockerfile
  thirdparty/bergamot/makefile
Due: none

build: use sudo to copy files
  .github/workflows/release.yml
  Dockerfile
  makefile
  thirdparty/bergamot/Dockerfile
  thirdparty/bergamot/makefile
Due: none

ci: do not use interactive mode for docker
  .github/workflows/release.yml
  thirdparty/bergamot/makefile
Due: none

ci: change build dir owner
  .github/workflows/release.yml
Due: none

ci: enable all steps
  .github/workflows/release.yml
Due: none

build: add target to build all
  makefile
Due: none

docs: update build docs
  docs/Development.md
Due: prettier --write --parser markdown

chore(#297): force sync changed texts
  scripts/locales/utils/syncLocalizations.js
Due: prettier --write, eslint --fix

chore(#297): improve prompt to keep addon name original
  scripts/locales/utils/syncLocalizations.js
Due: prettier --write, eslint --fix

5.0.1
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: install deps
  .github/workflows/release.yml
Due: none

vitonsky published a site update
  chromium_updates.xml
Due: none

5.0.2
  package-lock.json
  package.json
Due: prettier --write --parser json

build: copy thirdparty components to build
  webpack.config.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
