Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore(PageTranslator): add placeholder in bottom
  src/layouts/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix

chore(PageTranslator): move types
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/types/utils.ts
Due: prettier --write, eslint --fix

refactor: improve requests structure
  src/contentscript.tsx
  src/layouts/PageTranslator/PageTranslator@tab.tsx
  src/modules/PageTranslator/requests/index.ts
  src/requests/contentscript/getTranslateState.ts
  src/requests/contentscript/pageTranslation/disableTranslatePage.ts
  src/requests/contentscript/pageTranslation/enableTranslatePage.ts
  src/requests/contentscript/pageTranslation/getPageTranslateState.ts
  src/requests/contentscript/translatePage.ts
  src/requests/contentscript/untranslatePage.ts
Due: prettier --write, eslint --fix

fix(SelectTranslator): add define font weight
  src/layouts/SelectTranslator/SelectTranslator.css
Due: none

chore(PageTranslator): move styles
  src/layouts/PageTranslator/PageTranslator.css
  src/layouts/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix

chore(PageTranslator): fix names to conventional
  src/layouts/PageTranslator/PageTranslator.utils/PageTranslationStorage.ts
  src/layouts/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix

chore(PageTranslator): remove unused class
  src/layouts/PageTranslator/PageTranslator.css
Due: none

chore(types): add default data arg for `tryDecode`
  src/lib/types.ts
Due: prettier --write, eslint --fix

refactor(TextTranslator): use async storage
  src/background.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/layouts/TextTranslator/TextTranslator@tab.tsx
Due: prettier --write, eslint --fix

fix(TextTranslator): erase data more smartly
  src/background.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

fix(TextTranslator): add data migrations
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/migrations/migrationsList.ts
Due: prettier --write, eslint --fix

refactor(PopupWindow): use async storage
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
  src/pages/popup/popup.tsx
Due: prettier --write, eslint --fix

chore(PopupWindow): add migration
  src/migrations/migrationsList.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
Due: prettier --write, eslint --fix

chore: fix storages names
  src/layouts/PageTranslator/PageTranslator.utils/PageTranslationStorage.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

feat: add `AbstractVersionedStorage`
  src/types/utils.ts
Due: prettier --write, eslint --fix

refactor: add extends `AbstractVersionedStorage` for storages
  src/layouts/PageTranslator/PageTranslator.utils/PageTranslationStorage.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
Due: prettier --write, eslint --fix

refactor: implement storage migrations
  src/migrations/migrations.ts
  src/migrations/migrationsList.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix

refactor: move migrations to storage methods
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/migrations/migrationsList.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix

refactor(PageTranslator): split utils
  src/layouts/PageTranslator/PageTranslator.utils/utils.ts
  src/layouts/PageTranslator/PageTranslator@tab.tsx
Due: prettier --write, eslint --fix

fix: fix path to utils after refactor `PageTranslator`
  src/contentscript.tsx
Due: prettier --write, eslint --fix

chore: add tabs permission for old browsers
  manifests/manifest.json
Due: prettier --write --parser json

2.2.0
  package.json
Due: prettier --write --parser json

fix(TextTranslator): await set data
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

refactor: add `publicName` static field for `VersionedStorage`
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/migrations/migrationsList.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix

chore: add storages verify in migrations
  src/migrations/migrationsList.ts
Due: prettier --write, eslint --fix

2.2.1
  package.json
Due: prettier --write --parser json

fix(TextTranslator): prevent focus on button when focus on input
  src/components/Button/Button.bundle/desktop.ts
  src/components/Button/Button.tsx
  src/components/LanguagePanel/LanguagePanel.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
Due: prettier --write, eslint --fix

2.2.2
  package.json
Due: prettier --write --parser json

refactor(ConfigStorage): use async storage
  src/background.ts
  src/lib/XEventManager.ts
  src/modules/Background.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/requests/backend/getUserLanguagePreferences.ts
  src/requests/backend/setConfig.ts
  src/requests/backend/updateConfig.ts
  src/requests/types.ts
Due: prettier --write, eslint --fix

refactor: improve background
  src/background.ts
  src/config.ts
  src/migrations/migrationsList.ts
  src/requests/backend/resetConfig.ts
Due: prettier --write, eslint --fix

refactor(EventManager): use best implementation
  src/lib/EventManager.ts
  src/lib/XEventManager.ts
  src/modules/Background.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/modules/ContentScript.ts
Due: prettier --write, eslint --fix

fix: await loading of background
  src/background.ts
  src/modules/ContentScript.ts
Due: prettier --write, eslint --fix

refactor(ping): add delay and improve parameters clearence
  src/lib/communication.ts
  src/modules/ContentScript.ts
  src/pages/popup/popup.tsx
  src/requests/backend/ping.ts
  src/requests/contentscript/ping.ts
Due: prettier --write, eslint --fix

fix(ConfigStorage): add validation of integrity
  src/modules/ConfigStorage/ConfigStorage.ts
Due: prettier --write, eslint --fix

refactor: remove generic argument for config
  src/background.ts
  src/migrations/migrationsList.ts
  src/modules/Background.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/requests/types.ts
Due: prettier --write, eslint --fix

refactor(ping): make options are optional
  src/requests/backend/ping.ts
  src/requests/contentscript/ping.ts
Due: prettier --write, eslint --fix

2.2.3
  package.json
Due: prettier --write --parser json

fix(autoTranslation): add remove old data after migration
  src/requests/backend/autoTranslation/migrations.ts
Due: prettier --write, eslint --fix

2.2.4
  package.json
Due: prettier --write --parser json

feat: implement `requestBuilder`
  src/lib/requestBuilder.ts
  src/requests/backend/getTranslatorFeatures.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
