Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

fix: skip invalid selectors
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix

chore: group config files
  src/config/index.ts
  src/config/no-translate-selectors.txt
Due: prettier --write, eslint --fix

chore: update package
  package-lock.json
  package.json
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update default selectors list
  src/config/no-translate-selectors.txt
Due: none

test: support for import txt files as text via Jest
  jest.config.js
  test/jest-transform-txt.js
Due: prettier --write, eslint --fix

chore: add migration
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/ConfigStorage/no-translate-selectors.txt
Due: prettier --write, eslint --fix

test: update config migration test
  src/app/ConfigStorage/__test__/ConfigStorage.test.ts
  src/app/ConfigStorage/__test__/__snapshots__/ConfigStorage.test.ts.snap
Due: prettier --write, eslint --fix

test: remove unused config snapshots
  src/app/ConfigStorage/__test__/config-v5.json
  src/app/ConfigStorage/__test__/config-v6.json
  src/app/ConfigStorage/__test__/config-v8.json
Due: prettier --write --parser json

refactor: migrate from ignoredTags to excludeSelectors option
  src/app/ConfigStorage/ConfigStorage.migrations.ts
  src/app/ConfigStorage/__test__/__snapshots__/ConfigStorage.test.ts.snap
  src/app/ContentScript/PageTranslator/PageTranslator.tsx
  src/config/index.ts
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
  src/types/runtime.ts
Due: prettier --write, eslint --fix

chore: update localization
  src/_locales/en/messages.json
Due: prettier --write --parser json

chore: update localization
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
Due: prettier --write --parser json

chore: remove element of localization
  src/pages/options/layout/OptionsPage.utils/generateTree.tsx
Due: prettier --write, eslint --fix

chore: use .env file for localization scripts
  package-lock.json
  package.json
  scripts/ChatGPT.mjs
Due: prettier --write --parser json

feat: implement json translator
  packages/locales/.gitignore
  packages/locales/LLMTranslator.test.ts
  packages/locales/LLMTranslator.ts
  packages/locales/utils/isEqualStructures.test.ts
  packages/locales/utils/json.ts
  packages/locales/utils/sliceJsonString.test.ts
Due: prettier --write, eslint --fix

feat: ensure processing large localization files
  packages/locales/BasicLLMFetcher.ts
  packages/locales/LLMFetcher.ts
  packages/locales/LLMTranslator.BasicLLMFetcher.integration.test.ts
  packages/locales/LLMTranslator.ts
  packages/locales/package.json
  packages/locales/sample.json
  packages/locales/utils/json.ts
  packages/locales/utils/sliceJsonString.test.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

test: add vitest
  .eslintrc
  package-lock.json
  package.json
  packages/locales/LLMTranslator.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

test: add flags for test runs
  vitest.config.ts
Due: prettier --write, eslint --fix

test: add snapshots
  packages/locales/LLMTranslator.BasicLLMFetcher.integration.test.ts
  packages/locales/__snapshots__/LLMTranslator.BasicLLMFetcher.integration.test.ts.snap
Due: prettier --write, eslint --fix

test: update timeout
  packages/locales/LLMTranslator.BasicLLMFetcher.integration.test.ts
Due: prettier --write, eslint --fix

refactor: move prompt generator to another file
  packages/locales/LLMTranslator.BasicLLMFetcher.integration.test.ts
  packages/locales/utils/prompts.ts
Due: prettier --write, eslint --fix

chore: update prompt
  packages/locales/LLMTranslator.BasicLLMFetcher.integration.test.ts
  packages/locales/utils/prompts.ts
Due: prettier --write, eslint --fix

chore: add option to control retries limit
  packages/locales/LLMTranslator.ts
Due: prettier --write, eslint --fix

chore: prettify json
  packages/locales/utils/prompts.ts
Due: prettier --write, eslint --fix

chore: update prompt
  packages/locales/utils/prompts.ts
Due: prettier --write, eslint --fix

feat: implement object patcher
  packages/locales/utils/getObjectPatch.test.ts
  packages/locales/utils/json.ts
Due: prettier --write, eslint --fix

feat: implement LocalesManager
  package-lock.json
  packages/locales/LocalesManager.test.ts
  packages/locales/LocalesManager.ts
  packages/locales/package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add locales sync command
  package-lock.json
  packages/locales/cli/commands/sync.ts
  packages/locales/cli/index.ts
  packages/locales/package.json
  packages/locales/utils/git.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: introduce LLM JSON transformer
  packages/locales/LLMJsonProcessor.ts
  packages/locales/LLMTranslator.BasicLLMFetcher.integration.test.ts
  packages/locales/LLMTranslator.test.ts
  packages/locales/LLMTranslator.ts
  packages/locales/LocalesManager.test.ts
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

feat: add proofreading for locales files
  packages/locales/cli/commands/proofread.ts
  packages/locales/cli/index.ts
Due: prettier --write, eslint --fix

chore: add scripts
  packages/locales/package.json
Due: prettier --write --parser json

docs: add docs for locales package
  packages/locales/.env.example
  packages/locales/README.md
Due: prettier --write --parser markdown

chore: remove legacy locales scripts
  scripts/ChatGPT.mjs
  scripts/locales/.gitignore
  scripts/locales/README.md
  scripts/locales/fixTyposInLocalizationsFiles.js
  scripts/locales/package-lock.json
  scripts/locales/package.json
  scripts/locales/sortLocalizationFiles.js
  scripts/locales/syncLocalizationsFilesWithSource.js
  scripts/locales/translateDescriptions.js
  scripts/locales/utils/index.js
  scripts/locales/utils/localizationsEnhancement.js
  scripts/locales/utils/sortLocalizations.js
  scripts/locales/utils/syncLocalizations.js
  scripts/locales/utils/translateDescriptions.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: make translations more professional
  packages/locales/cli/commands/sync.ts
  packages/locales/utils/prompts.ts
Due: prettier --write, eslint --fix

feat: add command to prettify locales
  packages/locales/cli/commands/prettify.ts
  packages/locales/cli/commands/proofread.ts
  packages/locales/cli/commands/sync.ts
  packages/locales/cli/index.ts
Due: prettier --write, eslint --fix

chore: simplify object ordering
  packages/locales/cli/commands/prettify.ts
  packages/locales/utils/localeObject.ts
Due: prettier --write, eslint --fix

chore: prettify locales for all ops
  packages/locales/cli/commands/proofread.ts
  packages/locales/cli/commands/sync.ts
Due: prettier --write, eslint --fix

test: make tests work with vitest
  package-lock.json
  package.json
  src/app/Background/TranslatorManager/TranslatorManager.test.ts
  src/app/ConfigStorage/__test__/__snapshots__/ConfigStorage.test.ts.snap
  src/lib/effector/createSelector/createSelector.test.ts
  src/lib/effector/equalMap/equalMap.test.ts
  src/lib/migrations/MigrationsExecutor/PersistentMigrationsExecutor.test.ts
  test/setupFiles/jest.js
  test/setupFiles/webextension.js
  vitest.config.ts
Due: prettier --write, eslint --fix, prettier --write --parser json
