Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

docs(#253): add docs for third party content
  thirdparty/bergamot/README.md
  thirdparty/bergamot/translator-worker.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown

build(#253): add makefile to build project
  makefile
Due: none

build(#253): update github action pipeline
  .github/workflows/release.yml
Due: none

feat(#253): implement auto lang detection
  src/lib/bergamot/BergamotTranslator.ts
Due: prettier --write, eslint --fix

chore(#253): localize bergamot translator name
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/_locales/vi/messages.json
  src/_locales/zh/messages.json
  src/lib/bergamot/BergamotTranslator.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor(#253): rewrite bergamot code to a TS
  src/lib/bergamot/index.ts
  src/requests/backend/bergamot/addBergamotFile.ts
Due: prettier --write, eslint --fix

refactor(#253): update types
  src/lib/bergamot/BergamotTranslator.ts
  src/lib/bergamot/index.ts
Due: prettier --write, eslint --fix

refactor(#253): refactor translator class
  src/lib/bergamot/index.ts
Due: prettier --write, eslint --fix

refactor(#253): improve code style
  src/lib/bergamot/index.ts
Due: prettier --write, eslint --fix

refactor(#253): rewrite worker code to a TS
  src/lib/bergamot/index.ts
  thirdparty/bergamot/makefile
  thirdparty/bergamot/src/translator-worker.ts
  webpack.config.js
Due: prettier --write, eslint --fix

docs: add donations section to a readme
  README.md
Due: prettier --write --parser markdown

refactor(#253): remove eslint-disable
  thirdparty/bergamot/src/translator-worker.ts
Due: prettier --write, eslint --fix

build(#253): add info how to compile bergamot worker
  thirdparty/bergamot/README.md
  thirdparty/bergamot/makefile
Due: prettier --write --parser markdown

refactor(#253): improve API interface
  src/lib/bergamot/index.ts
  thirdparty/bergamot/src/translator-worker.ts
Due: prettier --write, eslint --fix

refactor(#253): reuse types
  src/lib/bergamot/index.ts
  thirdparty/bergamot/src/translator-worker.ts
Due: prettier --write, eslint --fix

refactor(#253): use blanked types to ensure expected objects
  thirdparty/bergamot/src/translator-worker.ts
Due: prettier --write, eslint --fix

refactor(#253): split bergamot frontend code
  src/lib/bergamot/BergamotTranslator.ts
  src/lib/bergamot/frontend/TranslatorBacking.ts
  src/lib/bergamot/frontend/index.ts
  src/lib/bergamot/types.ts
Due: prettier --write, eslint --fix

refactor(#253): move bergamot files to dedicated directory
  src/app/Background/index.ts
  src/lib/bergamot/types.ts
  src/lib/translators/BergamotTranslator.ts
  thirdparty/bergamot/src/frontend/BatchTranslator.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
  thirdparty/bergamot/src/frontend/errors.ts
  thirdparty/bergamot/src/types.ts
  thirdparty/bergamot/src/worker/BergamotTranslatorWorker.ts
  thirdparty/bergamot/src/worker/translator.worker.ts
  thirdparty/bergamot/src/worker/types.ts
  thirdparty/bergamot/src/worker/utils/YAML.ts
  webpack.config.js
Due: prettier --write, eslint --fix

refactor(#253): make file props optional for search
  src/requests/backend/bergamot/data.ts
Due: prettier --write, eslint --fix

refactor(#253): split model loading logic
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
  thirdparty/bergamot/src/types.ts
Due: prettier --write, eslint --fix

refactor(#253): decouple model loading logic
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
Due: prettier --write, eslint --fix

refactor(#253): move cache to wrapper
  src/app/Background/index.ts
  src/lib/translators/bergamot/BergamotTranslator.ts
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
Due: prettier --write, eslint --fix

refactor(#253): return source text for pointless translation direction
  src/lib/translators/bergamot/BergamotTranslator.ts
Due: prettier --write, eslint --fix

chore(#253): tune bergamot translator features
  src/lib/translators/bergamot/BergamotTranslator.ts
Due: prettier --write, eslint --fix

refactor(#253): move registry cache to a wrapper
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
Due: prettier --write, eslint --fix

refactor(#253): inverse deps for translator
  src/lib/translators/bergamot/BergamotTranslator.ts
  thirdparty/bergamot/src/frontend/BatchTranslator.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
Due: prettier --write, eslint --fix

refactor(#253): improve types
  thirdparty/bergamot/src/frontend/BatchTranslator.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
  thirdparty/bergamot/src/types.ts
Due: prettier --write, eslint --fix

refactor(#253): improve types
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
Due: prettier --write, eslint --fix

refactor(#253): improve types
  thirdparty/bergamot/src/worker/BergamotTranslatorWorker.ts
  thirdparty/bergamot/src/worker/types.ts
Due: prettier --write, eslint --fix

build(#253): use rollup to build bergamot
  src/lib/translators/bergamot/BergamotTranslator.ts
  thirdparty/bergamot/.gitignore
  thirdparty/bergamot/makefile
  thirdparty/bergamot/package.json
  thirdparty/bergamot/rollup.config.mjs
  thirdparty/bergamot/tsconfig.json
  webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

docs(#253): update docs for bergamot
  thirdparty/bergamot/README.md
Due: prettier --write --parser markdown

build(#253): update makefile
  thirdparty/bergamot/README.md
  thirdparty/bergamot/makefile
Due: prettier --write --parser markdown

build(#253): fix bergamot version
  thirdparty/bergamot/.env
  thirdparty/bergamot/makefile
Due: none

build(#253): fix bergamot revision hash
  thirdparty/bergamot/.env
  thirdparty/bergamot/makefile
Due: none

fix(#253): reject tasks when it's impossible to execute
  src/lib/translators/bergamot/BergamotTranslator.ts
  thirdparty/bergamot/src/frontend/BatchTranslator.ts
Due: prettier --write, eslint --fix

docs(#253): update development docs
  docs/Development.md
Due: prettier --write --parser markdown

fix(#253): handle error when worker does not exists
  src/lib/translators/bergamot/BergamotTranslator.ts
Due: prettier --write, eslint --fix

chore(#253): remove debug prints
  src/lib/translators/bergamot/TranslatorBackingWithCache.ts
  src/requests/backend/bergamot/data.ts
  src/requests/backend/bergamot/getBergamotFile.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
  thirdparty/bergamot/src/worker/BergamotTranslatorWorker.ts
Due: prettier --write, eslint --fix

fix(#253): do not forward error handler
  thirdparty/bergamot/src/frontend/BatchTranslator.ts
  thirdparty/bergamot/src/frontend/TranslatorBacking.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
