Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: increase text size
  site/src/components/theme.ts
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: consistent link color
  site/src/components/theme.ts
Due: prettier --write, eslint --fix

chore: add favicon
  site/docusaurus.config.ts
  site/static/favicon.svg
Due: prettier --write, eslint --fix

chore: add anchor to features
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: remove unused DOM
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: align the layout
  site/src/components/theme.ts
  site/src/pages/index.module.css
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: add border for images
  site/src/pages/index.module.css
Due: none

chore: mobile view
  site/src/pages/index.module.css
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: fix viewport for mobile
  site/docusaurus.config.ts
  site/src/pages/index.tsx
  site/ssr-template.htm
Due: prettier --write, eslint --fix

Revert "chore: fix viewport for mobile"
  site/docusaurus.config.ts
  site/src/pages/index.tsx
  site/ssr-template.htm
Due: prettier --write, eslint --fix

chore: use image elements
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

refactor: move code to component
  site/src/components/Landing/Landing.tsx
  site/src/components/Landing/landing.module.css
  site/src/components/Landing/logo.svg
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

refactor: split the code
  site/src/components/Landing/Landing.tsx
  site/src/components/PageLayout/PageLayout.tsx
  site/src/components/theme.ts
  site/src/pages/index.tsx
Due: prettier --write, eslint --fix

refactor: clean css
  site/src/components/Landing/Landing.module.css
  site/src/components/Landing/Landing.tsx
  site/src/components/Landing/landing.module.css
Due: prettier --write, eslint --fix

refactor: improve indents
  site/src/components/Landing/Landing.module.css
  site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: add support section
  site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: add banner
  site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: fix padding
  site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: add analytics
  site/src/components/PageLayout/PageLayout.tsx
Due: prettier --write, eslint --fix

chore: add link to github issues
  site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: remove unused files
  site/sidebars.ts
Due: prettier --write, eslint --fix

chore: update readme.md
  site/README.md
Due: prettier --write --parser markdown

ci: build and deploy
  .github/workflows/site.yml
Due: none

ci: remove deploy site for builds
  .github/workflows/release.yml
Due: none

ci: change site build dir
  .github/workflows/site.yml
Due: none

ci: debug site deploy
  .github/workflows/site.yml
Due: none

vitonsky published a site update
  404.html
  assets/css/styles.40c9b006.css
  assets/js/1df93b7f.fea993d2.js
  assets/js/71.79e133dc.js
  assets/js/780.451d9c2b.js
  assets/js/a7456010.25370a92.js
  assets/js/main.44cd1935.js
  assets/js/main.44cd1935.js.LICENSE.txt
  assets/js/runtime~main.554cc6e1.js
  chromium_updates.xml
  favicon.svg
  icons/chrome.png
  icons/firefox.png
  index.html
  screenshots/custom-translators.png
  screenshots/dictionary.png
  screenshots/page-translation.png
  screenshots/selected-text-translation.png
  screenshots/settings.png
  screenshots/text-translation-popup.png
  screenshots/text-translation.png
  sitemap.xml
Due: prettier --write, eslint --fix

Revert "ci: debug site deploy"
  .github/workflows/site.yml
Due: none

Create CNAME
  CNAME
Due: none

vitonsky published a site update
  CNAME
Due: none

feat: track outbound clicks
  site/src/components/PageLayout/PageLayout.tsx
Due: prettier --write, eslint --fix

feat: track clicks for any links
  site/package-lock.json
  site/package.json
  site/src/components/PageLayout/PageLayout.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: move analytics to a component
  site/src/components/Analytics/AnalyticsProvider.tsx
  site/src/components/Analytics/useAnalyticsContext.tsx
  site/src/components/PageLayout/PageLayout.tsx
Due: prettier --write, eslint --fix

feat: track click by download buttons
  site/src/components/Landing/Landing.tsx
Due: prettier --write, eslint --fix

chore: add image for main page
  site/src/components/Landing/Landing.tsx
  site/src/pages/index.tsx
  site/src/utils/url.ts
Due: prettier --write, eslint --fix

feat(site): use i18n for texts
  site/package-lock.json
  site/package.json
  site/src/components/Landing/Landing.tsx
  site/src/components/Landing/i18n.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: move texts to json file
  site/src/components/Landing/i18n.ts
  site/src/components/Landing/locales/en.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add new lines
  site/src/components/Landing/locales/en.json
Due: prettier --write --parser json

refactor: move i18n to a page layout
  site/src/components/Landing/Landing.tsx
  site/src/components/PageLayout/PageLayout.tsx
  site/src/components/i18n.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
