Repository translate-tools/linguist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

refactor: rename ITranslation props
  src/components/Bookmarks/useTranslateFavorite.ts
  src/components/Translation/Translation.tsx
  src/layouts/History/TranslationsHistory.tsx
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/layouts/TextTranslator/TextTranslator.tsx
  src/modules/Background/TranslatorsCacheStorage.ts
  src/pages/dictionary/layout/DictionaryPage.tsx
  src/requests/backend/history/data.ts
  src/requests/backend/translations/data.ts
  src/types/translation/Translation.ts
Due: prettier --write, eslint --fix

chore: reuse equality check util
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

refactor: use `ITranslation` interface for cache IDB
  src/modules/Background/TranslatorsCacheStorage.ts
Due: prettier --write, eslint --fix

refactor(#155): improve props for TextTranslator
  src/layouts/TextTranslator/TextTranslator.tsx
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/layouts/TextTranslator/TextTranslator@tab.tsx
Due: prettier --write, eslint --fix

chore: update lint rules for switch
  .eslintrc
Due: none

refactor(#155): add migration for dictionary
  src/modules/ConfigStorage/ConfigStorage.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

refactor(#155): introduce util to manage IDB versions
  src/lib/idb/manager.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

fix(#155): migration manager schemes slicing
  src/lib/idb/manager.ts
Due: prettier --write, eslint --fix

refactor(#155): validate migration data structure
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

refactor(#155): implement io-ts validator with reports
  src/lib/types.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

refactor(#155): introduce dir for IDB schemes
  src/lib/idb/manager.ts
  src/requests/backend/translations/data.ts
  src/requests/backend/translations/idb/schema/index.ts
  src/requests/backend/translations/idb/schema/v1.ts
  src/requests/backend/translations/idb/schema/v2.ts
Due: prettier --write, eslint --fix

refactor(#155): move isEqualIntersection to utils
  src/lib/utils.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

chore(#155): move types on top of file
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

chore(#155): fix type
  src/lib/idb/manager.ts
Due: prettier --write, eslint --fix

chore(#155): add migration for TranslatorsCacheStorage
  src/modules/Background/TranslatorsCacheStorage.ts
Due: prettier --write, eslint --fix

chore(#155): add TODOs
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

test(#155): configure jest to test IDB
  jest.config.js
  package.json
  src/requests/backend/translations/data.test.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

test(#155): update IDB library
  jest.config.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

test(#155): check identifiers
  src/requests/backend/translations/data.test.ts
Due: prettier --write, eslint --fix

test(#155): implement wipe IDB
  src/requests/backend/translations/data.test.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

test(#155): configure fast tests
  jest.config.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

test(#155): add migration tests for translations
  src/requests/backend/translations/data.test.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

test(#155): rename test files
  src/requests/backend/translations/translations.test.ts
Due: prettier --write, eslint --fix

test(#155): add test for TextTranslatorStorage
  jest.config.js
  package.json
  src/layouts/TextTranslator/TextTranslator.utils/textTranslatorStorage.test.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#155): add todos
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.test.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

chore(#155): add migrations for TextTranslatorStorage
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix

test(#155): migrations of TextTranslatorStorage
  jest.config.js
  package.json
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.test.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#155): disable noFallthroughCasesInSwitch
  tsconfig.json
Due: prettier --write --parser json

test(#155): move test utils to file
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.test.ts
  src/lib/tests.ts
  src/requests/backend/translations/translations.test.ts
Due: prettier --write, eslint --fix

test(#155): add test for TranslatorsCacheStorage
  src/modules/Background/TranslatorsCacheStorage.test.ts
  src/modules/Background/TranslatorsCacheStorage.ts
Due: prettier --write, eslint --fix

docs(#155): add information about tests
  docs/Development.md
Due: prettier --write --parser markdown

chore(#155): improve types of IDB configurator
  src/lib/idb/manager.ts
  src/requests/backend/translations/data.ts
  src/requests/backend/translations/idb/schema/index.ts
Due: prettier --write, eslint --fix

chore(#155): improve types of `getIDBPlan`
  src/lib/idb/manager.ts
  src/requests/backend/translations/data.ts
Due: prettier --write, eslint --fix

chore(#155): add warning to `getIDBPlan`
  src/lib/idb/manager.ts
Due: prettier --write, eslint --fix

chore(#155): move type to utils
  src/requests/backend/translations/data.ts
  src/types/lib.ts
  src/types/utils.ts
Due: prettier --write, eslint --fix

fix(#155): replace property of addon API
  src/lib/browser/index.ts
Due: prettier --write, eslint --fix

build(#170): migrate to webextension-polyfill
  package.json
  src/layouts/PageTranslator/PageTranslator.utils/PageTranslationStorage.ts
  src/layouts/SelectTranslator/SelectTranslatorComponent.tsx
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.test.ts
  src/layouts/TextTranslator/TextTranslator.utils/TextTranslatorStorage.ts
  src/lib/ShadowDOMContainerManager.tsx
  src/lib/browser/Theme/FirefoxThemeInfo.ts
  src/lib/browser/index.ts
  src/lib/browser/setAppIcon.ts
  src/lib/browser/tabs.ts
  src/lib/browser/toggleTranslateItemInContextMenu.ts
  src/lib/language.ts
  src/lib/tests.ts
  src/migrations/migrations.ts
  src/modules/ConfigStorage/ConfigStorage.ts
  src/pages/popup/layout/PopupWindow.utils/PopupWindowStorage.ts
  src/requests/backend/autoTranslation/migrations.ts
  src/requests/utils/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix(#177): remove console log
  src/contentscript.tsx
Due: prettier --write, eslint --fix

test(#170): add id while setup mock
  jest.config.js
  test/setupFiles/webextension.js
Due: prettier --write, eslint --fix

test(#161): add test case to reproduce a bug
  src/modules/Background/TranslatorsCacheStorage.test.ts
Due: prettier --write, eslint --fix
